label {
    display: inline-block;
    font-family: "BF_TEXT";
    font-weight: bold;
    font-size: 1rem;
}


.help-block {
    font-size: small;
    opacity: 0.3;
}


.readonly {
    background-color: #e3e8f3 !important;
    font-weight: bold;
    border-color: #e3e8f3 !important;
}

::placeholder {
    font-style: italic;
    opacity: 0.2;
}

.form-control::placeholder {
    opacity: 0.5;
    font-weight: normal;
}

.form-header {
    font-size: 1.2rem;
    font-weight: normal;
    line-height: 2rem;
    background-color: #e5e9f4;
    padding: 0 1rem;
    border: 1px dotted #d4dae8;
    border-radius: 0.35rem;
    color: black;
}

.form-control, .form-select {
    color: var(--bs-body-color);
    background-color: var(--bs-body-bg);
    border: var(--bs-border-width) solid var(--bs-border-color);
    border-radius: var(--bs-border-radius);
}

.form-control:focus, .form-select:focus {
    border-color: var(--primary-color);
    box-shadow: none;
}

input[type="checkbox"],
input[type="radio"] {
    box-shadow: none;
    border: 1px solid var(--card-border);
}

.header .form-control {
    border: 1px solid rgba(255, 255, 255, var(--border-opacity));
    background-color: rgba(255, 255, 255, var(--opacity-light));
    color: white;
    height: 38px;
}

.header .form-control::placeholder {
    color: rgba(255, 255, 255, var(--opacity-high));
}

.chat .input input {
    border: none;
    background-image: none;
    background-color: white;
    padding: 0.5rem 1rem;
    margin-right: 1rem;
    border-radius: 1.125rem;
    flex-grow: 2;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1), 0rem 1rem 1rem -1rem rgba(0, 0, 0, 0.2);
    font-family: Red hat Display, sans-serif;
    font-weight: 400;
    letter-spacing: 0.025em;
}

.theme-dark .chat .input input,
.dark-mode .chat .input input {
    background-color: #121416;
    color: #e6e6e6;
}

.dark-mode .readonly {
    background-color: var(--dark-input-bg);
    font-weight: bold;
}

.dark-mode .form-header {
    background-color: var(--dark-input-bg);
    border-color: var(--border-strong);
    color: var(--text-color);
}

.dark-mode .help-block {
    font-size: small;
    opacity: 0.5;
    color: #728590;
}

.input-group-text {
    display: flex;
    align-items: center;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: var(--bs-body-color);
    text-align: center;
    white-space: nowrap;
    background-color: var(--bs-tertiary-bg);
    border: none;
}
