# Project exclude paths
/public/themes/assets/javascripts/gojs/extensionsJSM/ArrangingLayout.js
/public/themes/assets/javascripts/gojs/extensionsJSM/Arrowheads.js
/public/themes/assets/javascripts/gojs/extensionsJSM/BalloonLink.js
/public/themes/assets/javascripts/gojs/extensionsJSM/Buttons.js
/public/themes/assets/javascripts/gojs/extensionsJSM/ColumnResizingTool.js
/public/themes/assets/javascripts/gojs/extensionsJSM/CurvedLinkReshapingTool.js
/public/themes/assets/javascripts/gojs/extensionsJSM/DataInspector.js
/public/themes/assets/javascripts/gojs/extensionsJSM/DimensioningLink.js
/public/themes/assets/javascripts/gojs/extensionsJSM/DoubleTreeLayout.js
/public/themes/assets/javascripts/gojs/extensionsJSM/DragCreatingTool.js
/public/themes/assets/javascripts/gojs/extensionsJSM/DragZoomingTool.js
/public/themes/assets/javascripts/gojs/extensionsJSM/DrawCommandHandler.js
/public/themes/assets/javascripts/gojs/extensionsJSM/Figures.js
/public/themes/assets/javascripts/gojs/extensionsJSM/FishboneLayout.js
/public/themes/assets/javascripts/gojs/extensionsJSM/FreehandDrawingTool.js
/public/themes/assets/javascripts/gojs/extensionsJSM/GeometryReshapingTool.js
/public/themes/assets/javascripts/gojs/extensionsJSM/GuidedDraggingTool.js
/public/themes/assets/javascripts/gojs/extensionsJSM/HyperlinkText.js
/public/themes/assets/javascripts/gojs/extensionsJSM/LightBoxContextMenu.js
/public/themes/assets/javascripts/gojs/extensionsJSM/LinkLabelDraggingTool.js
/public/themes/assets/javascripts/gojs/extensionsJSM/LinkLabelOnPathDraggingTool.js
/public/themes/assets/javascripts/gojs/extensionsJSM/LinkShiftingTool.js
/public/themes/assets/javascripts/gojs/extensionsJSM/LocalStorageCommandHandler.js
/public/themes/assets/javascripts/gojs/extensionsJSM/NodeLabelDraggingTool.js
/public/themes/assets/javascripts/gojs/extensionsJSM/NonRealtimeDraggingTool.js
/public/themes/assets/javascripts/gojs/extensionsJSM/OrthogonalLinkReshapingTool.js
/public/themes/assets/javascripts/gojs/extensionsJSM/OverviewResizingTool.js
/public/themes/assets/javascripts/gojs/extensionsJSM/PackedLayout.js
/public/themes/assets/javascripts/gojs/extensionsJSM/PanelLayoutFlow.js
/public/themes/assets/javascripts/gojs/extensionsJSM/ParallelLayout.js
/public/themes/assets/javascripts/gojs/extensionsJSM/ParallelRouteLink.js
/public/themes/assets/javascripts/gojs/extensionsJSM/PolygonDrawingTool.js
/public/themes/assets/javascripts/gojs/extensionsJSM/PolylineLinkingTool.js
/public/themes/assets/javascripts/gojs/extensionsJSM/PortShiftingTool.js
/public/themes/assets/javascripts/gojs/extensionsJSM/Quadtree.js
/public/themes/assets/javascripts/gojs/extensionsJSM/RadialLayout.js
/public/themes/assets/javascripts/gojs/extensionsJSM/RealtimeDragSelectingTool.js
/public/themes/assets/javascripts/gojs/extensionsJSM/RescalingTool.js
/public/themes/assets/javascripts/gojs/extensionsJSM/ResizeMultipleTool.js
/public/themes/assets/javascripts/gojs/extensionsJSM/Robot.js
/public/themes/assets/javascripts/gojs/extensionsJSM/RotateMultipleTool.js
/public/themes/assets/javascripts/gojs/extensionsJSM/RoundedRectangles.js
/public/themes/assets/javascripts/gojs/extensionsJSM/RowResizingTool.js
/public/themes/assets/javascripts/gojs/extensionsJSM/ScrollingTable.js
/public/themes/assets/javascripts/gojs/extensionsJSM/SectorReshapingTool.js
/public/themes/assets/javascripts/gojs/extensionsJSM/SerpentineLayout.js
/public/themes/assets/javascripts/gojs/extensionsJSM/SnapLinkReshapingTool.js
/public/themes/assets/javascripts/gojs/extensionsJSM/SpiralLayout.js
/public/themes/assets/javascripts/gojs/extensionsJSM/SpotRotatingTool.js
/public/themes/assets/javascripts/gojs/extensionsJSM/SwimLaneLayout.js
/public/themes/assets/javascripts/gojs/extensionsJSM/TableLayout.js
/public/themes/assets/javascripts/gojs/extensionsJSM/Templates.js
/public/themes/assets/javascripts/gojs/extensionsJSM/TextEditor.js
/public/themes/assets/javascripts/gojs/extensionsJSM/TextEditorRadioButtons.js
/public/themes/assets/javascripts/gojs/extensionsJSM/TextEditorSelectBox.js
/public/themes/assets/javascripts/gojs/extensionsJSM/TreeMapLayout.js
/public/themes/assets/javascripts/gojs/extensionsJSM/VirtualizedPackedLayout.js
/public/themes/assets/javascripts/gojs/extensionsJSM/ZoomSlider.js
/public/themes/assets/javascripts/gojs/extensionsTS/ArrangingLayout.js
/public/themes/assets/javascripts/gojs/extensionsTS/ArrangingScript.js
/public/themes/assets/javascripts/gojs/extensionsTS/Arrowheads.js
/public/themes/assets/javascripts/gojs/extensionsTS/BalloonLink.js
/public/themes/assets/javascripts/gojs/extensionsTS/BalloonLinkScript.js
/public/themes/assets/javascripts/gojs/extensionsTS/Buttons.js
/public/themes/assets/javascripts/gojs/extensionsTS/CheckBoxesScript.js
/public/themes/assets/javascripts/gojs/extensionsTS/ColumnResizingScript.js
/public/themes/assets/javascripts/gojs/extensionsTS/ColumnResizingTool.js
/public/themes/assets/javascripts/gojs/extensionsTS/CurvedLinkReshapingScript.js
/public/themes/assets/javascripts/gojs/extensionsTS/CurvedLinkReshapingTool.js
/public/themes/assets/javascripts/gojs/extensionsTS/DataInspector.js
/public/themes/assets/javascripts/gojs/extensionsTS/DataInspectorScript.js
/public/themes/assets/javascripts/gojs/extensionsTS/DimensioningLink.js
/public/themes/assets/javascripts/gojs/extensionsTS/DimensioningScript.js
/public/themes/assets/javascripts/gojs/extensionsTS/DoubleTreeLayout.js
/public/themes/assets/javascripts/gojs/extensionsTS/DragCreatingScript.js
/public/themes/assets/javascripts/gojs/extensionsTS/DragCreatingTool.js
/public/themes/assets/javascripts/gojs/extensionsTS/DragZoomingScript.js
/public/themes/assets/javascripts/gojs/extensionsTS/DragZoomingTool.js
/public/themes/assets/javascripts/gojs/extensionsTS/DrawCommandHandler.js
/public/themes/assets/javascripts/gojs/extensionsTS/DrawCommandHandlerScript.js
/public/themes/assets/javascripts/gojs/extensionsTS/Figures.js
/public/themes/assets/javascripts/gojs/extensionsTS/FishboneLayout.js
/public/themes/assets/javascripts/gojs/extensionsTS/FishboneScript.js
/public/themes/assets/javascripts/gojs/extensionsTS/FreehandDrawingScript.js
/public/themes/assets/javascripts/gojs/extensionsTS/FreehandDrawingTool.js
/public/themes/assets/javascripts/gojs/extensionsTS/GeometryReshapingScript.js
/public/themes/assets/javascripts/gojs/extensionsTS/GeometryReshapingTool.js
/public/themes/assets/javascripts/gojs/extensionsTS/GuidedDraggingScript.js
/public/themes/assets/javascripts/gojs/extensionsTS/GuidedDraggingTool.js
/public/themes/assets/javascripts/gojs/extensionsTS/HyperlinkScript.js
/public/themes/assets/javascripts/gojs/extensionsTS/HyperlinkText.js
/public/themes/assets/javascripts/gojs/extensionsTS/LightBoxContextMenu.js
/public/themes/assets/javascripts/gojs/extensionsTS/LinkLabelDraggingScript.js
/public/themes/assets/javascripts/gojs/extensionsTS/LinkLabelDraggingTool.js
/public/themes/assets/javascripts/gojs/extensionsTS/LinkLabelOnPathDraggingScript.js
/public/themes/assets/javascripts/gojs/extensionsTS/LinkLabelOnPathDraggingTool.js
/public/themes/assets/javascripts/gojs/extensionsTS/LinkShiftingScript.js
/public/themes/assets/javascripts/gojs/extensionsTS/LinkShiftingTool.js
/public/themes/assets/javascripts/gojs/extensionsTS/LocalStorageCommandHandler.js
/public/themes/assets/javascripts/gojs/extensionsTS/LocalStorageCommandHandlerScript.js
/public/themes/assets/javascripts/gojs/extensionsTS/NodeLabelDraggingScript.js
/public/themes/assets/javascripts/gojs/extensionsTS/NodeLabelDraggingTool.js
/public/themes/assets/javascripts/gojs/extensionsTS/NonRealtimeDraggingScript.js
/public/themes/assets/javascripts/gojs/extensionsTS/NonRealtimeDraggingTool.js
/public/themes/assets/javascripts/gojs/extensionsTS/OrthogonalLinkReshapingScript.js
/public/themes/assets/javascripts/gojs/extensionsTS/OrthogonalLinkReshapingTool.js
/public/themes/assets/javascripts/gojs/extensionsTS/OverviewResizingScript.js
/public/themes/assets/javascripts/gojs/extensionsTS/OverviewResizingTool.js
/public/themes/assets/javascripts/gojs/extensionsTS/PackedLayout.js
/public/themes/assets/javascripts/gojs/extensionsTS/PackedScript.js
/public/themes/assets/javascripts/gojs/extensionsTS/PanelLayoutFlow.js
/public/themes/assets/javascripts/gojs/extensionsTS/PanelLayoutFlowScript.js
/public/themes/assets/javascripts/gojs/extensionsTS/ParallelLayout.js
/public/themes/assets/javascripts/gojs/extensionsTS/ParallelRouteLink.js
/public/themes/assets/javascripts/gojs/extensionsTS/ParallelRouteScript.js
/public/themes/assets/javascripts/gojs/extensionsTS/ParallelScript.js
/public/themes/assets/javascripts/gojs/extensionsTS/PolygonDrawingScript.js
/public/themes/assets/javascripts/gojs/extensionsTS/PolygonDrawingTool.js
/public/themes/assets/javascripts/gojs/extensionsTS/PolylineLinkingScript.js
/public/themes/assets/javascripts/gojs/extensionsTS/PolylineLinkingTool.js
/public/themes/assets/javascripts/gojs/extensionsTS/PortShiftingScript.js
/public/themes/assets/javascripts/gojs/extensionsTS/PortShiftingTool.js
/public/themes/assets/javascripts/gojs/extensionsTS/Quadtree.js
/public/themes/assets/javascripts/gojs/extensionsTS/RadialLayout.js
/public/themes/assets/javascripts/gojs/extensionsTS/RadialScript.js
/public/themes/assets/javascripts/gojs/extensionsTS/RealtimeDragSelectingScript.js
/public/themes/assets/javascripts/gojs/extensionsTS/RealtimeDragSelectingTool.js
/public/themes/assets/javascripts/gojs/extensionsTS/RescalingScript.js
/public/themes/assets/javascripts/gojs/extensionsTS/RescalingTool.js
/public/themes/assets/javascripts/gojs/extensionsTS/ResizeMultipleScript.js
/public/themes/assets/javascripts/gojs/extensionsTS/ResizeMultipleTool.js
/public/themes/assets/javascripts/gojs/extensionsTS/Robot.js
/public/themes/assets/javascripts/gojs/extensionsTS/RobotScript.js
/public/themes/assets/javascripts/gojs/extensionsTS/RotateMultipleScript.js
/public/themes/assets/javascripts/gojs/extensionsTS/RotateMultipleTool.js
/public/themes/assets/javascripts/gojs/extensionsTS/RoundedRectangles.js
/public/themes/assets/javascripts/gojs/extensionsTS/RowResizingTool.js
/public/themes/assets/javascripts/gojs/extensionsTS/ScrollingTable.js
/public/themes/assets/javascripts/gojs/extensionsTS/ScrollingTableScript.js
/public/themes/assets/javascripts/gojs/extensionsTS/SectorReshapingScript.js
/public/themes/assets/javascripts/gojs/extensionsTS/SectorReshapingTool.js
/public/themes/assets/javascripts/gojs/extensionsTS/SerpentineLayout.js
/public/themes/assets/javascripts/gojs/extensionsTS/SerpentineScript.js
/public/themes/assets/javascripts/gojs/extensionsTS/SnapLinkReshapingScript.js
/public/themes/assets/javascripts/gojs/extensionsTS/SnapLinkReshapingTool.js
/public/themes/assets/javascripts/gojs/extensionsTS/SpiralLayout.js
/public/themes/assets/javascripts/gojs/extensionsTS/SpiralScript.js
/public/themes/assets/javascripts/gojs/extensionsTS/SpotRotatingScript.js
/public/themes/assets/javascripts/gojs/extensionsTS/SpotRotatingTool.js
/public/themes/assets/javascripts/gojs/extensionsTS/SwimLaneLayout.js
/public/themes/assets/javascripts/gojs/extensionsTS/TableLayout.js
/public/themes/assets/javascripts/gojs/extensionsTS/TableScript.js
/public/themes/assets/javascripts/gojs/extensionsTS/Templates.js
/public/themes/assets/javascripts/gojs/extensionsTS/TextEditor.js
/public/themes/assets/javascripts/gojs/extensionsTS/TextEditorRadioButtons.js
/public/themes/assets/javascripts/gojs/extensionsTS/TextEditorScript.js
/public/themes/assets/javascripts/gojs/extensionsTS/TextEditorSelectBox.js
/public/themes/assets/javascripts/gojs/extensionsTS/TreeMapLayout.js
/public/themes/assets/javascripts/gojs/extensionsTS/TreeMapScript.js
/public/themes/assets/javascripts/gojs/extensionsTS/VirtualizedPackedLayout.js
/public/themes/assets/javascripts/gojs/extensionsTS/ZoomSlider.js
/public/themes/assets/javascripts/gojs/extensionsTS/ZoomSliderScript.js
/public/themes/assets/javascripts/gojs/projects/bpmn/BPMNClasses.js
/public/themes/assets/javascripts/gojs/projects/bpmn/BPMNScript.js
/public/themes/assets/javascripts/gojs/projects/floorplannerTS/src/DataInspector.js
/public/themes/assets/javascripts/gojs/projects/floorplannerTS/src/DataInspectorOverrides.js
/public/themes/assets/javascripts/gojs/projects/floorplannerTS/src/EditorHelper.js
/public/themes/assets/javascripts/gojs/projects/floorplannerTS/src/Floorplan.d.ts
/public/themes/assets/javascripts/gojs/projects/floorplannerTS/src/Floorplan.js
/public/themes/assets/javascripts/gojs/projects/floorplannerTS/src/FloorplannerScript.js
/public/themes/assets/javascripts/gojs/projects/floorplannerTS/src/FloorplanPalette.js
/public/themes/assets/javascripts/gojs/projects/floorplannerTS/src/NodeLabelDraggingTool.js
/public/themes/assets/javascripts/gojs/projects/floorplannerTS/src/WallBuildingTool.js
/public/themes/assets/javascripts/gojs/projects/floorplannerTS/src/WallReshapingTool.js
/public/themes/assets/javascripts/gojs/projects/storage/GoCloudStorage.js
/public/themes/assets/javascripts/gojs/projects/storage/GoCloudStorageManager.js
/public/themes/assets/javascripts/gojs/projects/storage/GoDropBox.js
/public/themes/assets/javascripts/gojs/projects/storage/GoGoogleDrive.js
/public/themes/assets/javascripts/gojs/projects/storage/GoLocalStorage.js
/public/themes/assets/javascripts/gojs/projects/storage/GoNetCore.js
/public/themes/assets/javascripts/gojs/projects/storage/GoOneDrive.js
/public/themes/assets/javascripts/gojs/projects/storage/StorageScript.js
/public/themes/assets/javascripts/gojs/projects/storage/StorageScriptMultiple.js
/public/themes/assets/javascripts/gojs/samplesTS/arrowheadsScript.js
/public/themes/assets/javascripts/gojs/samplesTS/flowchart.js
/public/themes/assets/javascripts/gojs/samplesTS/genogramLayout.js
/public/themes/assets/javascripts/gojs/samplesTS/genogramScript.js
/public/themes/assets/javascripts/gojs/samplesTS/htmlLightBoxContextMenuScript.js
/public/themes/assets/javascripts/gojs/samplesTS/minimal.js
/public/themes/assets/javascripts/gojs/samplesTS/minimalModule.js
/writable/
/app/nbproject/private/
/system/nbproject/private/
/nbproject/private/
