.heatgraph-canvas {
    display: flex;
    width: 180px;
    height: 254px;
    align-content: center;
}


.card-badge {
    position: absolute;
    right: 0;
    top: 0;
    padding: 12px 15px;
    border-radius: 0 0 0 26px;
    font-size: 1.5rem;
    color: #ffffff;
}

.card-badge.bg-secondary.absolute.float-right.opacity-1 {
    opacity: 0.1;
}