analysis {
    font-size: 1rem;
}

analysis h1 {
    font-size: 1.2rem;
    background-color: #182a84;
    margin: 10px 0px 10px 0px;
    padding: 5px;
    border-width: 1px;
    border-color: #192c84;
    border-style: solid;
    border-radius: 5px;
    color: #ffffff;
}

analysis h2 {
    font-size: 1.2rem;
    background-color: #CCCCCC;
    margin: 10px 0px 10px 0px;
    padding: 5px;
    border-width: 1px;
    border-color: #192c84;
    border-style: solid;
    border-radius: 5px;
    color: #182a84;
}

analysis p{
    font-size: 1rem;
    line-height: 1.1rem;
}