/*
 * **
 *  ** █ ---------------------------------------------------------------------------------------------------------------------
 *  ** █ ░FRAMEWORK                                  2023-12-01 23:19:27
 *  ** █ ░█▀▀█ █▀▀█ █▀▀▄ █▀▀ ░█─░█ ─▀─ █▀▀▀ █▀▀▀ █▀▀ [App\Modules\Account\Views\Processes\Creator\deny.php]
 *  ** █ ░█─── █──█ █──█ █▀▀ ░█▀▀█ ▀█▀ █─▀█ █─▀█ ▀▀█ Copyright 2023 - CloudEngine S.A.S., Inc. <admin@cgine.com>
 *  ** █ ░█▄▄█ ▀▀▀▀ ▀▀▀─ ▀▀▀ ░█─░█ ▀▀▀ ▀▀▀▀ ▀▀▀▀ ▀▀▀ Para obtener información completa sobre derechos de autor y licencia,
 *  ** █                                             consulte la LICENCIA archivo que se distribuyó con este código fuente.
 *  ** █ ---------------------------------------------------------------------------------------------------------------------
 *  ** █ EL SOFTWARE SE PROPORCIONA -TAL CUAL-, SIN GARANTÍA DE NINGÚN TIPO, EXPRESA O
 *  ** █ IMPLÍCITA, INCLUYENDO PERO NO LIMITADO A LAS GARANTÍAS DE COMERCIABILIDAD,
 *  ** █ APTITUD PARA UN PROPÓSITO PARTICULAR Y NO INFRACCIÓN. EN NINGÚN CASO SERÁ
 *  ** █ LOS AUTORES O TITULARES DE LOS DERECHOS DE AUTOR SERÁN RESPONSABLES DE CUALQUIER
 *  ** █ RECLAMO, DAÑOS U OTROS RESPONSABILIDAD, YA SEA EN UNA ACCIÓN DE CONTRATO,
 *  ** █ AGRAVIO O DE OTRO MODO, QUE SURJA DESDE, FUERA O EN RELACIÓN CON EL SOFTWARE
 *  ** █ O EL USO U OTROS NEGOCIACIONES EN EL SOFTWARE.
 *  ** █ ---------------------------------------------------------------------------------------------------------------------
 *  ** █ @Author Jose Alexis Correa Valencia <jalexiscv@gmail.com>
 *  ** █ @link https://www.codehiggs.com
 *  ** █ @Version 1.5.0 @since PHP 7, PHP 8
 *  ** █ ---------------------------------------------------------------------------------------------------------------------
 *  ** █ Datos recibidos desde el controlador - @ModuleController
 *  ** █ ---------------------------------------------------------------------------------------------------------------------
 *  ** █ @authentication, @request, @dates, @parent, @component, @view, @oid, @views, @prefix
 *  ** █ ---------------------------------------------------------------------------------------------------------------------
 *  **
 */

::-webkit-scrollbar {
    width: 12px;
    height: 12px
}

::-webkit-scrollbar-thumb {
    background: rgba(0, 198, 255, 0.2)
}

::-webkit-scrollbar-thumb:hover {
    background: rgba(0, 198, 255, 0.8)
}

::-webkit-scrollbar-corner, ::-webkit-scrollbar-resizer {
    background: transparent
}

body {
    margin: 0;
    overflow: auto;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.lock {
    position: fixed;
    display: inline-block;
    width: 12px;
    height: 16px;
    right: 0;
    margin-right: 16px;
    top: 0;
    color: #666;
    cursor: pointer
}

.lock:hover {
    color: #fff;
    cursor: pointer
}

.lock .icon-tabler {
    width: 22px;
    height: 22px;
    margin-left: -5px;
    margin-top: 0;
    stroke-width: 1.25;
    pointer-events: none
}

.refresh {
    position: fixed;
    display: inline-block;
    width: 14px;
    height: 14px;
    right: 0;
    margin-right: 15px;
    top: 34px;
    color: #666;
    cursor: pointer
}

.refresh:hover {
    color: #fff;
    cursor: pointer
}

.refresh .icon-tabler {
    width: 20px;
    height: 20px;
    margin-left: -3px;
    margin-top: -3px;
    stroke-width: 1.25;
    transform: rotate(180deg);
    pointer-events: none
}

.plugins {
    position: fixed;
    display: inline-block;
    width: 16px;
    height: 16px;
    right: 0;
    margin-right: 15px;
    top: 61px;
    color: #666;
    cursor: pointer
}

.plugins:hover {
    color: #fff;
    cursor: pointer
}

.plugins .icon-tabler {
    width: 24px;
    height: 24px;
    margin-left: -3px;
    margin-top: -3px;
    stroke-width: 1.25;
    pointer-events: none
}

.fmDragBox {
    position: absolute;
    display: inline-block;
    width: 0;
    height: 0;
    top: 0;
    left: 0;
    background: rgba(0, 198, 255, 0.3);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

li a span:first-of-type {
    white-space: pre
}
