/*
 * **
 *  ** █ ---------------------------------------------------------------------------------------------------------------------
 *  ** █ ░FRAMEWORK                                  2023-12-01 23:19:27
 *  ** █ ░█▀▀█ █▀▀█ █▀▀▄ █▀▀ ░█─░█ ─▀─ █▀▀▀ █▀▀▀ █▀▀ [App\Modules\Account\Views\Processes\Creator\deny.php]
 *  ** █ ░█─── █──█ █──█ █▀▀ ░█▀▀█ ▀█▀ █─▀█ █─▀█ ▀▀█ Copyright 2023 - CloudEngine S.A.S., Inc. <admin@cgine.com>
 *  ** █ ░█▄▄█ ▀▀▀▀ ▀▀▀─ ▀▀▀ ░█─░█ ▀▀▀ ▀▀▀▀ ▀▀▀▀ ▀▀▀ Para obtener información completa sobre derechos de autor y licencia,
 *  ** █                                             consulte la LICENCIA archivo que se distribuyó con este código fuente.
 *  ** █ ---------------------------------------------------------------------------------------------------------------------
 *  ** █ EL SOFTWARE SE PROPORCIONA -TAL CUAL-, SIN GARANTÍA DE NINGÚN TIPO, EXPRESA O
 *  ** █ IMPLÍCITA, INCLUYENDO PERO NO LIMITADO A LAS GARANTÍAS DE COMERCIABILIDAD,
 *  ** █ APTITUD PARA UN PROPÓSITO PARTICULAR Y NO INFRACCIÓN. EN NINGÚN CASO SERÁ
 *  ** █ LOS AUTORES O TITULARES DE LOS DERECHOS DE AUTOR SERÁN RESPONSABLES DE CUALQUIER
 *  ** █ RECLAMO, DAÑOS U OTROS RESPONSABILIDAD, YA SEA EN UNA ACCIÓN DE CONTRATO,
 *  ** █ AGRAVIO O DE OTRO MODO, QUE SURJA DESDE, FUERA O EN RELACIÓN CON EL SOFTWARE
 *  ** █ O EL USO U OTROS NEGOCIACIONES EN EL SOFTWARE.
 *  ** █ ---------------------------------------------------------------------------------------------------------------------
 *  ** █ @Author Jose Alexis Correa Valencia <jalexiscv@gmail.com>
 *  ** █ @link https://www.codehiggs.com
 *  ** █ @Version 1.5.0 @since PHP 7, PHP 8
 *  ** █ ---------------------------------------------------------------------------------------------------------------------
 *  ** █ Datos recibidos desde el controlador - @ModuleController
 *  ** █ ---------------------------------------------------------------------------------------------------------------------
 *  ** █ @authentication, @request, @dates, @parent, @component, @view, @oid, @views, @prefix
 *  ** █ ---------------------------------------------------------------------------------------------------------------------
 *  **
 */

/* First, reset everything to a standard */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
    border: 0;
    margin: 0;
    padding: 0;
    outline: 0;
    /*font-size: 12px;*/
    vertical-align: top;
}

body {
    overflow: hidden;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-size: 12px;
}

h1 {
    font-size: 36px;
    font-weight: normal;
    color: #888;
    margin-bottom: 20px
}

h2 {
    font-size: 18px;
    font-weight: normal;
    color: #fff
}

.icon-tabler {
    width: 24px;
    height: 24px;
    stroke-width: 1.25
}

.settings {
    font-family: arial, verdana, helvetica, sans-serif;
    background-color: #1c1c19;
    color: #fff
}

.settings .infoPane {
    position: relative;
    width: 230px;
    height: 570px;
    font-size: 10px;
    color: #888;
    background-color: #fff;
    padding: 20px;
    float: left
}

.settings .infoPane a {
    color: #06c;
    text-decoration: none
}

.settings .infoPane a:hover {
    text-decoration: underline
}

.settings .logo {
    position: relative;
    margin-top: 2px;
    width: 100px
}

.settings .version {
    position: relative;
    display: block;
    margin-top: 5px;
    margin-bottom: 10px;
    font-size: 10px;
    color: #bbb
}

.settings .tabContainer {
    background: #fff;
    height: 38px;
    padding-top: 20px
}

.settings .tabContainer .tab {
    padding: 12px;
    background: #444;
    margin-right: 1px;
    float: left;
    cursor: pointer
}

.settings .tabContainer .tabActive {
    background: #1c1c19
}

.settings .section {
    width: 640px;
    height: 450px;
    padding: 20px;
    margin-top: 10px;
    float: left
}

.settings input, .settings textarea {
    border: 1px solid #555;
    background-color: #444;
    color: #fff
}

.settings input:focus, .settings textarea:focus {
    outline: none;
    background: rgba(0, 198, 255, 0.5);
    color: #fff
}

.settings input[type="text"]:disabled {
    opacity: 0.5
}

.settings .iconCapsLock {
    position: absolute;
    margin-left: 2px;
    color: #888
}

.settings .info {
    font-size: 10px;
    color: rgba(0, 198, 255, 1);
    cursor: help
}

.settings .info .icon-tabler {
    width: 18px;
    height: 18px;
    margin-top: -2px;
    pointer-events: none
}

.settings .update {
    position: absolute;
    bottom: 0;
    right: 20px;
    padding: 5px 10px;
    font-size: 18px;
    background-color: rgba(0, 198, 255, 0.7);
    opacity: 0.1;
    cursor: pointer
}
