/*
 * **
 *  ** █ ---------------------------------------------------------------------------------------------------------------------
 *  ** █ ░FRAMEWORK                                  2023-12-01 23:19:27
 *  ** █ ░█▀▀█ █▀▀█ █▀▀▄ █▀▀ ░█─░█ ─▀─ █▀▀▀ █▀▀▀ █▀▀ [App\Modules\Account\Views\Processes\Creator\deny.php]
 *  ** █ ░█─── █──█ █──█ █▀▀ ░█▀▀█ ▀█▀ █─▀█ █─▀█ ▀▀█ Copyright 2023 - CloudEngine S.A.S., Inc. <admin@cgine.com>
 *  ** █ ░█▄▄█ ▀▀▀▀ ▀▀▀─ ▀▀▀ ░█─░█ ▀▀▀ ▀▀▀▀ ▀▀▀▀ ▀▀▀ Para obtener información completa sobre derechos de autor y licencia,
 *  ** █                                             consulte la LICENCIA archivo que se distribuyó con este código fuente.
 *  ** █ ---------------------------------------------------------------------------------------------------------------------
 *  ** █ EL SOFTWARE SE PROPORCIONA -TAL CUAL-, SIN GARANTÍA DE NINGÚN TIPO, EXPRESA O
 *  ** █ IMPLÍCITA, INCLUYENDO PERO NO LIMITADO A LAS GARANTÍAS DE COMERCIABILIDAD,
 *  ** █ APTITUD PARA UN PROPÓSITO PARTICULAR Y NO INFRACCIÓN. EN NINGÚN CASO SERÁ
 *  ** █ LOS AUTORES O TITULARES DE LOS DERECHOS DE AUTOR SERÁN RESPONSABLES DE CUALQUIER
 *  ** █ RECLAMO, DAÑOS U OTROS RESPONSABILIDAD, YA SEA EN UNA ACCIÓN DE CONTRATO,
 *  ** █ AGRAVIO O DE OTRO MODO, QUE SURJA DESDE, FUERA O EN RELACIÓN CON EL SOFTWARE
 *  ** █ O EL USO U OTROS NEGOCIACIONES EN EL SOFTWARE.
 *  ** █ ---------------------------------------------------------------------------------------------------------------------
 *  ** █ @Author Jose Alexis Correa Valencia <jalexiscv@gmail.com>
 *  ** █ @link https://www.codehiggs.com
 *  ** █ @Version 1.5.0 @since PHP 7, PHP 8
 *  ** █ ---------------------------------------------------------------------------------------------------------------------
 *  ** █ Datos recibidos desde el controlador - @ModuleController
 *  ** █ ---------------------------------------------------------------------------------------------------------------------
 *  ** █ @authentication, @request, @dates, @parent, @component, @view, @oid, @views, @prefix
 *  ** █ ---------------------------------------------------------------------------------------------------------------------
 *  **
 */

/* First, reset everything to a standard */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, input, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
    font-family: monospace, courier, sans-serif;
    border: 0;
    margin: 0;
    padding: 0;
    outline: 0;
    font-size: 12px;
    vertical-align: top;
}

/* Box sizing */
* {
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

::-webkit-scrollbar {
    width: 12px;
    height: 12px
}

::-webkit-scrollbar-thumb {
    background: rgba(0, 198, 255, 0.2)
}

::-webkit-scrollbar-thumb:hover {
    background: rgba(0, 198, 255, 0.8)
}

::-webkit-scrollbar-corner, ::-webkit-scrollbar-resizer {
    background: transparent
}

html, body {
    width: 100%;
    height: 100%
}

.output {
    position: absolute;
    display: block;
    top: 0;
    padding: 15px 18px 8px 13px;
    width: 100%;
    min-height: 100%;
    border: 0;
    background: rgba(0, 0, 0, 0.92);
    color: #ccc;
    white-space: pre-wrap;
    word-break: break-all
}

.commandLine {
    width: 100%;
    padding: 8px 2px 8px 0;
    color: #fff
}

.commandLine .user {
    display: inline-block;
    height: 24px;
    margin-top: -4px;
    margin-left: -13px;
    padding: 5px 5px 5px 0;
    margin-bottom: 5px;
    background: #b58901;
    color: #000
}

.commandLine .cwd {
    display: inline-block;
    height: 24px;
    margin-top: -4px;
    padding: 5px 5px 5px 0;
    margin-bottom: 5px;
    background: #278bd2;
    color: #fff
}

.commandLine .promptVLine {
    display: inline-block;
    width: 1px;
    height: 12px;
    margin-top: -5px;
    margin-left: 3px;
    background: #b58901
}

.commandLine .promptHLine {
    display: inline-block;
    color: #b58901
}

.commandLine .promptArrow {
    display: inline-block;
    margin-left: -1px
}

.commandLine .command {
    border: none;
    width: 10000px;
    max-width: 95%;
    background: transparent;
    color: #fff
}

.commandLine .command:focus {
    outline: none
}
