/*
 * **
 *  ** █ ---------------------------------------------------------------------------------------------------------------------
 *  ** █ ░FRAMEWORK                                  2023-12-01 23:19:27
 *  ** █ ░█▀▀█ █▀▀█ █▀▀▄ █▀▀ ░█─░█ ─▀─ █▀▀▀ █▀▀▀ █▀▀ [App\Modules\Account\Views\Processes\Creator\deny.php]
 *  ** █ ░█─── █──█ █──█ █▀▀ ░█▀▀█ ▀█▀ █─▀█ █─▀█ ▀▀█ Copyright 2023 - CloudEngine S.A.S., Inc. <admin@cgine.com>
 *  ** █ ░█▄▄█ ▀▀▀▀ ▀▀▀─ ▀▀▀ ░█─░█ ▀▀▀ ▀▀▀▀ ▀▀▀▀ ▀▀▀ Para obtener información completa sobre derechos de autor y licencia,
 *  ** █                                             consulte la LICENCIA archivo que se distribuyó con este código fuente.
 *  ** █ ---------------------------------------------------------------------------------------------------------------------
 *  ** █ EL SOFTWARE SE PROPORCIONA -TAL CUAL-, SIN GARANTÍA DE NINGÚN TIPO, EXPRESA O
 *  ** █ IMPLÍCITA, INCLUYENDO PERO NO LIMITADO A LAS GARANTÍAS DE COMERCIABILIDAD,
 *  ** █ APTITUD PARA UN PROPÓSITO PARTICULAR Y NO INFRACCIÓN. EN NINGÚN CASO SERÁ
 *  ** █ LOS AUTORES O TITULARES DE LOS DERECHOS DE AUTOR SERÁN RESPONSABLES DE CUALQUIER
 *  ** █ RECLAMO, DAÑOS U OTROS RESPONSABILIDAD, YA SEA EN UNA ACCIÓN DE CONTRATO,
 *  ** █ AGRAVIO O DE OTRO MODO, QUE SURJA DESDE, FUERA O EN RELACIÓN CON EL SOFTWARE
 *  ** █ O EL USO U OTROS NEGOCIACIONES EN EL SOFTWARE.
 *  ** █ ---------------------------------------------------------------------------------------------------------------------
 *  ** █ @Author Jose Alexis Correa Valencia <jalexiscv@gmail.com>
 *  ** █ @link https://www.codehiggs.com
 *  ** █ @Version 1.5.0 @since PHP 7, PHP 8
 *  ** █ ---------------------------------------------------------------------------------------------------------------------
 *  ** █ Datos recibidos desde el controlador - @ModuleController
 *  ** █ ---------------------------------------------------------------------------------------------------------------------
 *  ** █ @authentication, @request, @dates, @parent, @component, @view, @oid, @views, @prefix
 *  ** █ ---------------------------------------------------------------------------------------------------------------------
 *  **
 */

/*

    Name:       3024 night
    Author:     Jan T. Sott (http://github.com/idleberg)

    CodeMirror template by Jan T. Sott (https://github.com/idleberg/base16-codemirror)
    Original Base16 color scheme by Chris Kempson (https://github.com/chriskempson/base16)

*/

.cm-s-3024-night.CodeMirror {
    background: #090300;
    color: #d6d5d4;
}

.cm-s-3024-night div.CodeMirror-selected {
    background: #3a3432;
}

.cm-s-3024-night .CodeMirror-line::selection, .cm-s-3024-night .CodeMirror-line > span::selection, .cm-s-3024-night .CodeMirror-line > span > span::selection {
    background: rgba(58, 52, 50, .99);
}

.cm-s-3024-night .CodeMirror-line::-moz-selection, .cm-s-3024-night .CodeMirror-line > span::-moz-selection, .cm-s-3024-night .CodeMirror-line > span > span::-moz-selection {
    background: rgba(58, 52, 50, .99);
}

.cm-s-3024-night .CodeMirror-gutters {
    background: #090300;
    border-right: 0px;
}

.cm-s-3024-night .CodeMirror-guttermarker {
    color: #db2d20;
}

.cm-s-3024-night .CodeMirror-guttermarker-subtle {
    color: #5c5855;
}

.cm-s-3024-night .CodeMirror-linenumber {
    color: #5c5855;
}

.cm-s-3024-night .CodeMirror-cursor {
    border-left: 1px solid #807d7c;
}

.cm-s-3024-night span.cm-comment {
    color: #cdab53;
}

.cm-s-3024-night span.cm-atom {
    color: #a16a94;
}

.cm-s-3024-night span.cm-number {
    color: #a16a94;
}

.cm-s-3024-night span.cm-property, .cm-s-3024-night span.cm-attribute {
    color: #01a252;
}

.cm-s-3024-night span.cm-keyword {
    color: #db2d20;
}

.cm-s-3024-night span.cm-string {
    color: #fded02;
}

.cm-s-3024-night span.cm-variable {
    color: #01a252;
}

.cm-s-3024-night span.cm-variable-2 {
    color: #01a0e4;
}

.cm-s-3024-night span.cm-def {
    color: #e8bbd0;
}

.cm-s-3024-night span.cm-bracket {
    color: #d6d5d4;
}

.cm-s-3024-night span.cm-tag {
    color: #db2d20;
}

.cm-s-3024-night span.cm-link {
    color: #a16a94;
}

.cm-s-3024-night span.cm-error {
    background: #db2d20;
    color: #807d7c;
}

.cm-s-3024-night .CodeMirror-activeline-background {
    background: #2F2F2F;
}

.cm-s-3024-night .CodeMirror-matchingbracket {
    text-decoration: underline;
    color: white !important;
}
