/*
 * **
 *  ** █ ---------------------------------------------------------------------------------------------------------------------
 *  ** █ ░FRAMEWORK                                  2023-12-01 23:19:27
 *  ** █ ░█▀▀█ █▀▀█ █▀▀▄ █▀▀ ░█─░█ ─▀─ █▀▀▀ █▀▀▀ █▀▀ [App\Modules\Account\Views\Processes\Creator\deny.php]
 *  ** █ ░█─── █──█ █──█ █▀▀ ░█▀▀█ ▀█▀ █─▀█ █─▀█ ▀▀█ Copyright 2023 - CloudEngine S.A.S., Inc. <admin@cgine.com>
 *  ** █ ░█▄▄█ ▀▀▀▀ ▀▀▀─ ▀▀▀ ░█─░█ ▀▀▀ ▀▀▀▀ ▀▀▀▀ ▀▀▀ Para obtener información completa sobre derechos de autor y licencia,
 *  ** █                                             consulte la LICENCIA archivo que se distribuyó con este código fuente.
 *  ** █ ---------------------------------------------------------------------------------------------------------------------
 *  ** █ EL SOFTWARE SE PROPORCIONA -TAL CUAL-, SIN GARANTÍA DE NINGÚN TIPO, EXPRESA O
 *  ** █ IMPLÍCITA, INCLUYENDO PERO NO LIMITADO A LAS GARANTÍAS DE COMERCIABILIDAD,
 *  ** █ APTITUD PARA UN PROPÓSITO PARTICULAR Y NO INFRACCIÓN. EN NINGÚN CASO SERÁ
 *  ** █ LOS AUTORES O TITULARES DE LOS DERECHOS DE AUTOR SERÁN RESPONSABLES DE CUALQUIER
 *  ** █ RECLAMO, DAÑOS U OTROS RESPONSABILIDAD, YA SEA EN UNA ACCIÓN DE CONTRATO,
 *  ** █ AGRAVIO O DE OTRO MODO, QUE SURJA DESDE, FUERA O EN RELACIÓN CON EL SOFTWARE
 *  ** █ O EL USO U OTROS NEGOCIACIONES EN EL SOFTWARE.
 *  ** █ ---------------------------------------------------------------------------------------------------------------------
 *  ** █ @Author Jose Alexis Correa Valencia <jalexiscv@gmail.com>
 *  ** █ @link https://www.codehiggs.com
 *  ** █ @Version 1.5.0 @since PHP 7, PHP 8
 *  ** █ ---------------------------------------------------------------------------------------------------------------------
 *  ** █ Datos recibidos desde el controlador - @ModuleController
 *  ** █ ---------------------------------------------------------------------------------------------------------------------
 *  ** █ @authentication, @request, @dates, @parent, @component, @view, @oid, @views, @prefix
 *  ** █ ---------------------------------------------------------------------------------------------------------------------
 *  **
 */

.cm-s-abcdef.CodeMirror {
    background: #0f0f0f;
    color: #defdef;
}

.cm-s-abcdef div.CodeMirror-selected {
    background: #515151;
}

.cm-s-abcdef .CodeMirror-line::selection, .cm-s-abcdef .CodeMirror-line > span::selection, .cm-s-abcdef .CodeMirror-line > span > span::selection {
    background: rgba(56, 56, 56, 0.99);
}

.cm-s-abcdef .CodeMirror-line::-moz-selection, .cm-s-abcdef .CodeMirror-line > span::-moz-selection, .cm-s-abcdef .CodeMirror-line > span > span::-moz-selection {
    background: rgba(56, 56, 56, 0.99);
}

.cm-s-abcdef .CodeMirror-gutters {
    background: #555;
    border-right: 2px solid #314151;
}

.cm-s-abcdef .CodeMirror-guttermarker {
    color: #222;
}

.cm-s-abcdef .CodeMirror-guttermarker-subtle {
    color: azure;
}

.cm-s-abcdef .CodeMirror-linenumber {
    color: #FFFFFF;
}

.cm-s-abcdef .CodeMirror-cursor {
    border-left: 1px solid #00FF00;
}

.cm-s-abcdef span.cm-keyword {
    color: darkgoldenrod;
    font-weight: bold;
}

.cm-s-abcdef span.cm-atom {
    color: #77F;
}

.cm-s-abcdef span.cm-number {
    color: violet;
}

.cm-s-abcdef span.cm-def {
    color: #fffabc;
}

.cm-s-abcdef span.cm-variable {
    color: #abcdef;
}

.cm-s-abcdef span.cm-variable-2 {
    color: #cacbcc;
}

.cm-s-abcdef span.cm-variable-3 {
    color: #def;
}

.cm-s-abcdef span.cm-property {
    color: #fedcba;
}

.cm-s-abcdef span.cm-operator {
    color: #ff0;
}

.cm-s-abcdef span.cm-comment {
    color: #7a7b7c;
    font-style: italic;
}

.cm-s-abcdef span.cm-string {
    color: #2b4;
}

.cm-s-abcdef span.cm-meta {
    color: #C9F;
}

.cm-s-abcdef span.cm-qualifier {
    color: #FFF700;
}

.cm-s-abcdef span.cm-builtin {
    color: #30aabc;
}

.cm-s-abcdef span.cm-bracket {
    color: #8a8a8a;
}

.cm-s-abcdef span.cm-tag {
    color: #FFDD44;
}

.cm-s-abcdef span.cm-attribute {
    color: #DDFF00;
}

.cm-s-abcdef span.cm-error {
    color: #FF0000;
}

.cm-s-abcdef span.cm-header {
    color: aquamarine;
    font-weight: bold;
}

.cm-s-abcdef span.cm-link {
    color: blueviolet;
}

.cm-s-abcdef .CodeMirror-activeline-background {
    background: #314151;
}
