/*
 * **
 *  ** █ ---------------------------------------------------------------------------------------------------------------------
 *  ** █ ░FRAMEWORK                                  2023-12-01 23:19:27
 *  ** █ ░█▀▀█ █▀▀█ █▀▀▄ █▀▀ ░█─░█ ─▀─ █▀▀▀ █▀▀▀ █▀▀ [App\Modules\Account\Views\Processes\Creator\deny.php]
 *  ** █ ░█─── █──█ █──█ █▀▀ ░█▀▀█ ▀█▀ █─▀█ █─▀█ ▀▀█ Copyright 2023 - CloudEngine S.A.S., Inc. <admin@cgine.com>
 *  ** █ ░█▄▄█ ▀▀▀▀ ▀▀▀─ ▀▀▀ ░█─░█ ▀▀▀ ▀▀▀▀ ▀▀▀▀ ▀▀▀ Para obtener información completa sobre derechos de autor y licencia,
 *  ** █                                             consulte la LICENCIA archivo que se distribuyó con este código fuente.
 *  ** █ ---------------------------------------------------------------------------------------------------------------------
 *  ** █ EL SOFTWARE SE PROPORCIONA -TAL CUAL-, SIN GARANTÍA DE NINGÚN TIPO, EXPRESA O
 *  ** █ IMPLÍCITA, INCLUYENDO PERO NO LIMITADO A LAS GARANTÍAS DE COMERCIABILIDAD,
 *  ** █ APTITUD PARA UN PROPÓSITO PARTICULAR Y NO INFRACCIÓN. EN NINGÚN CASO SERÁ
 *  ** █ LOS AUTORES O TITULARES DE LOS DERECHOS DE AUTOR SERÁN RESPONSABLES DE CUALQUIER
 *  ** █ RECLAMO, DAÑOS U OTROS RESPONSABILIDAD, YA SEA EN UNA ACCIÓN DE CONTRATO,
 *  ** █ AGRAVIO O DE OTRO MODO, QUE SURJA DESDE, FUERA O EN RELACIÓN CON EL SOFTWARE
 *  ** █ O EL USO U OTROS NEGOCIACIONES EN EL SOFTWARE.
 *  ** █ ---------------------------------------------------------------------------------------------------------------------
 *  ** █ @Author Jose Alexis Correa Valencia <jalexiscv@gmail.com>
 *  ** █ @link https://www.codehiggs.com
 *  ** █ @Version 1.5.0 @since PHP 7, PHP 8
 *  ** █ ---------------------------------------------------------------------------------------------------------------------
 *  ** █ Datos recibidos desde el controlador - @ModuleController
 *  ** █ ---------------------------------------------------------------------------------------------------------------------
 *  ** █ @authentication, @request, @dates, @parent, @component, @view, @oid, @views, @prefix
 *  ** █ ---------------------------------------------------------------------------------------------------------------------
 *  **
 */

.cm-s-argonaut {
    font-family: monospace;
    background: #151515;
    color: #B2B2B2;
}

.cm-s-argonaut .CodeMirror-gutters {
    box-shadow: 1px 0 2px 0 rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 1px 0 2px 0 rgba(0, 0, 0, 0.5);
    background-color: #151515;
    z-index: 3;
    border: none;
}

.cm-s-argonaut div.CodeMirror-cursor {
    border-left: 3px solid #B2B2B2;
}

.cm-s-argonaut .CodeMirror-activeline-background {
    background: #000C16;
}

.cm-s-argonaut .CodeMirror-selected {
    background: #002F53;
}

.cm-s-argonaut .cm-comment {
    font-style: italic;
    color: #00A6FF;
}

.cm-s-argonaut .cm-string {
    color: #6497C5;
}

.cm-s-argonaut .cm-number {
    color: #815DB3;
}

.cm-s-argonaut .cm-variable {
    color: #FFCA00;
}

.cm-s-argonaut .cm-def {
    font-style: italic;
}

.cm-s-argonaut .cm-property {
    color: #815DB3;
}

.cm-s-argonaut .cm-variable-2 {
    color: #0065D3;
}

.cm-s-argonaut .cm-atom {
    color: #815DB3;
}

.cm-s-argonaut .cm-keyword {
    color: null;
}

.cm-s-argonaut .cm-operator {
    color: null;
}

.cm-s-argonaut .CodeMirror-linenumber {
    color: italic;
}
