/*
 * **
 *  ** █ ---------------------------------------------------------------------------------------------------------------------
 *  ** █ ░FRAMEWORK                                  2023-12-01 23:19:27
 *  ** █ ░█▀▀█ █▀▀█ █▀▀▄ █▀▀ ░█─░█ ─▀─ █▀▀▀ █▀▀▀ █▀▀ [App\Modules\Account\Views\Processes\Creator\deny.php]
 *  ** █ ░█─── █──█ █──█ █▀▀ ░█▀▀█ ▀█▀ █─▀█ █─▀█ ▀▀█ Copyright 2023 - CloudEngine S.A.S., Inc. <admin@cgine.com>
 *  ** █ ░█▄▄█ ▀▀▀▀ ▀▀▀─ ▀▀▀ ░█─░█ ▀▀▀ ▀▀▀▀ ▀▀▀▀ ▀▀▀ Para obtener información completa sobre derechos de autor y licencia,
 *  ** █                                             consulte la LICENCIA archivo que se distribuyó con este código fuente.
 *  ** █ ---------------------------------------------------------------------------------------------------------------------
 *  ** █ EL SOFTWARE SE PROPORCIONA -TAL CUAL-, SIN GARANTÍA DE NINGÚN TIPO, EXPRESA O
 *  ** █ IMPLÍCITA, INCLUYENDO PERO NO LIMITADO A LAS GARANTÍAS DE COMERCIABILIDAD,
 *  ** █ APTITUD PARA UN PROPÓSITO PARTICULAR Y NO INFRACCIÓN. EN NINGÚN CASO SERÁ
 *  ** █ LOS AUTORES O TITULARES DE LOS DERECHOS DE AUTOR SERÁN RESPONSABLES DE CUALQUIER
 *  ** █ RECLAMO, DAÑOS U OTROS RESPONSABILIDAD, YA SEA EN UNA ACCIÓN DE CONTRATO,
 *  ** █ AGRAVIO O DE OTRO MODO, QUE SURJA DESDE, FUERA O EN RELACIÓN CON EL SOFTWARE
 *  ** █ O EL USO U OTROS NEGOCIACIONES EN EL SOFTWARE.
 *  ** █ ---------------------------------------------------------------------------------------------------------------------
 *  ** █ @Author Jose Alexis Correa Valencia <jalexiscv@gmail.com>
 *  ** █ @link https://www.codehiggs.com
 *  ** █ @Version 1.5.0 @since PHP 7, PHP 8
 *  ** █ ---------------------------------------------------------------------------------------------------------------------
 *  ** █ Datos recibidos desde el controlador - @ModuleController
 *  ** █ ---------------------------------------------------------------------------------------------------------------------
 *  ** █ @authentication, @request, @dates, @parent, @component, @view, @oid, @views, @prefix
 *  ** █ ---------------------------------------------------------------------------------------------------------------------
 *  **
 */

/*

    Name:       Base16 Default Dark
    Author:     Chris Kempson (http://chriskempson.com)

    CodeMirror template by Jan T. Sott (https://github.com/idleberg/base16-codemirror)
    Original Base16 color scheme by Chris Kempson (https://github.com/chriskempson/base16)

*/

.cm-s-base16-dark.CodeMirror {
    background: #151515;
    color: #e0e0e0;
}

.cm-s-base16-dark div.CodeMirror-selected {
    background: #303030;
}

.cm-s-base16-dark .CodeMirror-line::selection, .cm-s-base16-dark .CodeMirror-line > span::selection, .cm-s-base16-dark .CodeMirror-line > span > span::selection {
    background: rgba(48, 48, 48, .99);
}

.cm-s-base16-dark .CodeMirror-line::-moz-selection, .cm-s-base16-dark .CodeMirror-line > span::-moz-selection, .cm-s-base16-dark .CodeMirror-line > span > span::-moz-selection {
    background: rgba(48, 48, 48, .99);
}

.cm-s-base16-dark .CodeMirror-gutters {
    background: #151515;
    border-right: 0px;
}

.cm-s-base16-dark .CodeMirror-guttermarker {
    color: #ac4142;
}

.cm-s-base16-dark .CodeMirror-guttermarker-subtle {
    color: #505050;
}

.cm-s-base16-dark .CodeMirror-linenumber {
    color: #505050;
}

.cm-s-base16-dark .CodeMirror-cursor {
    border-left: 1px solid #b0b0b0;
}

.cm-s-base16-dark span.cm-comment {
    color: #8f5536;
}

.cm-s-base16-dark span.cm-atom {
    color: #aa759f;
}

.cm-s-base16-dark span.cm-number {
    color: #aa759f;
}

.cm-s-base16-dark span.cm-property, .cm-s-base16-dark span.cm-attribute {
    color: #90a959;
}

.cm-s-base16-dark span.cm-keyword {
    color: #ac4142;
}

.cm-s-base16-dark span.cm-string {
    color: #f4bf75;
}

.cm-s-base16-dark span.cm-variable {
    color: #90a959;
}

.cm-s-base16-dark span.cm-variable-2 {
    color: #6a9fb5;
}

.cm-s-base16-dark span.cm-def {
    color: #d28445;
}

.cm-s-base16-dark span.cm-bracket {
    color: #e0e0e0;
}

.cm-s-base16-dark span.cm-tag {
    color: #ac4142;
}

.cm-s-base16-dark span.cm-link {
    color: #aa759f;
}

.cm-s-base16-dark span.cm-error {
    background: #ac4142;
    color: #b0b0b0;
}

.cm-s-base16-dark .CodeMirror-activeline-background {
    background: #202020;
}

.cm-s-base16-dark .CodeMirror-matchingbracket {
    text-decoration: underline;
    color: white !important;
}
