/*
 * **
 *  ** █ ---------------------------------------------------------------------------------------------------------------------
 *  ** █ ░FRAMEWORK                                  2023-12-01 23:19:27
 *  ** █ ░█▀▀█ █▀▀█ █▀▀▄ █▀▀ ░█─░█ ─▀─ █▀▀▀ █▀▀▀ █▀▀ [App\Modules\Account\Views\Processes\Creator\deny.php]
 *  ** █ ░█─── █──█ █──█ █▀▀ ░█▀▀█ ▀█▀ █─▀█ █─▀█ ▀▀█ Copyright 2023 - CloudEngine S.A.S., Inc. <admin@cgine.com>
 *  ** █ ░█▄▄█ ▀▀▀▀ ▀▀▀─ ▀▀▀ ░█─░█ ▀▀▀ ▀▀▀▀ ▀▀▀▀ ▀▀▀ Para obtener información completa sobre derechos de autor y licencia,
 *  ** █                                             consulte la LICENCIA archivo que se distribuyó con este código fuente.
 *  ** █ ---------------------------------------------------------------------------------------------------------------------
 *  ** █ EL SOFTWARE SE PROPORCIONA -TAL CUAL-, SIN GARANTÍA DE NINGÚN TIPO, EXPRESA O
 *  ** █ IMPLÍCITA, INCLUYENDO PERO NO LIMITADO A LAS GARANTÍAS DE COMERCIABILIDAD,
 *  ** █ APTITUD PARA UN PROPÓSITO PARTICULAR Y NO INFRACCIÓN. EN NINGÚN CASO SERÁ
 *  ** █ LOS AUTORES O TITULARES DE LOS DERECHOS DE AUTOR SERÁN RESPONSABLES DE CUALQUIER
 *  ** █ RECLAMO, DAÑOS U OTROS RESPONSABILIDAD, YA SEA EN UNA ACCIÓN DE CONTRATO,
 *  ** █ AGRAVIO O DE OTRO MODO, QUE SURJA DESDE, FUERA O EN RELACIÓN CON EL SOFTWARE
 *  ** █ O EL USO U OTROS NEGOCIACIONES EN EL SOFTWARE.
 *  ** █ ---------------------------------------------------------------------------------------------------------------------
 *  ** █ @Author Jose Alexis Correa Valencia <jalexiscv@gmail.com>
 *  ** █ @link https://www.codehiggs.com
 *  ** █ @Version 1.5.0 @since PHP 7, PHP 8
 *  ** █ ---------------------------------------------------------------------------------------------------------------------
 *  ** █ Datos recibidos desde el controlador - @ModuleController
 *  ** █ ---------------------------------------------------------------------------------------------------------------------
 *  ** █ @authentication, @request, @dates, @parent, @component, @view, @oid, @views, @prefix
 *  ** █ ---------------------------------------------------------------------------------------------------------------------
 *  **
 */

/* Port of TextMate's Blackboard theme */

.cm-s-blackboard.CodeMirror {
    background: #0C1021;
    color: #F8F8F8;
}

.cm-s-blackboard div.CodeMirror-selected {
    background: #253B76;
}

.cm-s-blackboard .CodeMirror-line::selection, .cm-s-blackboard .CodeMirror-line > span::selection, .cm-s-blackboard .CodeMirror-line > span > span::selection {
    background: rgba(37, 59, 118, .99);
}

.cm-s-blackboard .CodeMirror-line::-moz-selection, .cm-s-blackboard .CodeMirror-line > span::-moz-selection, .cm-s-blackboard .CodeMirror-line > span > span::-moz-selection {
    background: rgba(37, 59, 118, .99);
}

.cm-s-blackboard .CodeMirror-gutters {
    background: #0C1021;
    border-right: 0;
}

.cm-s-blackboard .CodeMirror-guttermarker {
    color: #FBDE2D;
}

.cm-s-blackboard .CodeMirror-guttermarker-subtle {
    color: #888;
}

.cm-s-blackboard .CodeMirror-linenumber {
    color: #888;
}

.cm-s-blackboard .CodeMirror-cursor {
    border-left: 1px solid #A7A7A7;
}

.cm-s-blackboard .cm-keyword {
    color: #FBDE2D;
}

.cm-s-blackboard .cm-atom {
    color: #D8FA3C;
}

.cm-s-blackboard .cm-number {
    color: #D8FA3C;
}

.cm-s-blackboard .cm-def {
    color: #8DA6CE;
}

.cm-s-blackboard .cm-variable {
    color: #FF6400;
}

.cm-s-blackboard .cm-operator {
    color: #FBDE2D;
}

.cm-s-blackboard .cm-comment {
    color: #AEAEAE;
}

.cm-s-blackboard .cm-string {
    color: #61CE3C;
}

.cm-s-blackboard .cm-string-2 {
    color: #61CE3C;
}

.cm-s-blackboard .cm-meta {
    color: #D8FA3C;
}

.cm-s-blackboard .cm-builtin {
    color: #8DA6CE;
}

.cm-s-blackboard .cm-tag {
    color: #8DA6CE;
}

.cm-s-blackboard .cm-attribute {
    color: #8DA6CE;
}

.cm-s-blackboard .cm-header {
    color: #FF6400;
}

.cm-s-blackboard .cm-hr {
    color: #AEAEAE;
}

.cm-s-blackboard .cm-link {
    color: #8DA6CE;
}

.cm-s-blackboard .cm-error {
    background: #9D1E15;
    color: #F8F8F8;
}

.cm-s-blackboard .CodeMirror-activeline-background {
    background: #3C3636;
}

.cm-s-blackboard .CodeMirror-matchingbracket {
    outline: 1px solid grey;
    color: white !important;
}
