/*
 * **
 *  ** █ ---------------------------------------------------------------------------------------------------------------------
 *  ** █ ░FRAMEWORK                                  2023-12-01 23:19:27
 *  ** █ ░█▀▀█ █▀▀█ █▀▀▄ █▀▀ ░█─░█ ─▀─ █▀▀▀ █▀▀▀ █▀▀ [App\Modules\Account\Views\Processes\Creator\deny.php]
 *  ** █ ░█─── █──█ █──█ █▀▀ ░█▀▀█ ▀█▀ █─▀█ █─▀█ ▀▀█ Copyright 2023 - CloudEngine S.A.S., Inc. <admin@cgine.com>
 *  ** █ ░█▄▄█ ▀▀▀▀ ▀▀▀─ ▀▀▀ ░█─░█ ▀▀▀ ▀▀▀▀ ▀▀▀▀ ▀▀▀ Para obtener información completa sobre derechos de autor y licencia,
 *  ** █                                             consulte la LICENCIA archivo que se distribuyó con este código fuente.
 *  ** █ ---------------------------------------------------------------------------------------------------------------------
 *  ** █ EL SOFTWARE SE PROPORCIONA -TAL CUAL-, SIN GARANTÍA DE NINGÚN TIPO, EXPRESA O
 *  ** █ IMPLÍCITA, INCLUYENDO PERO NO LIMITADO A LAS GARANTÍAS DE COMERCIABILIDAD,
 *  ** █ APTITUD PARA UN PROPÓSITO PARTICULAR Y NO INFRACCIÓN. EN NINGÚN CASO SERÁ
 *  ** █ LOS AUTORES O TITULARES DE LOS DERECHOS DE AUTOR SERÁN RESPONSABLES DE CUALQUIER
 *  ** █ RECLAMO, DAÑOS U OTROS RESPONSABILIDAD, YA SEA EN UNA ACCIÓN DE CONTRATO,
 *  ** █ AGRAVIO O DE OTRO MODO, QUE SURJA DESDE, FUERA O EN RELACIÓN CON EL SOFTWARE
 *  ** █ O EL USO U OTROS NEGOCIACIONES EN EL SOFTWARE.
 *  ** █ ---------------------------------------------------------------------------------------------------------------------
 *  ** █ @Author Jose Alexis Correa Valencia <jalexiscv@gmail.com>
 *  ** █ @link https://www.codehiggs.com
 *  ** █ @Version 1.5.0 @since PHP 7, PHP 8
 *  ** █ ---------------------------------------------------------------------------------------------------------------------
 *  ** █ Datos recibidos desde el controlador - @ModuleController
 *  ** █ ---------------------------------------------------------------------------------------------------------------------
 *  ** █ @authentication, @request, @dates, @parent, @component, @view, @oid, @views, @prefix
 *  ** █ ---------------------------------------------------------------------------------------------------------------------
 *  **
 */

.cm-s-eclipse span.cm-meta {
    color: #FF1717;
}

.cm-s-eclipse span.cm-keyword {
    line-height: 1em;
    font-weight: bold;
    color: #7F0055;
}

.cm-s-eclipse span.cm-atom {
    color: #219;
}

.cm-s-eclipse span.cm-number {
    color: #164;
}

.cm-s-eclipse span.cm-def {
    color: #00f;
}

.cm-s-eclipse span.cm-variable {
    color: black;
}

.cm-s-eclipse span.cm-variable-2 {
    color: #0000C0;
}

.cm-s-eclipse span.cm-variable-3 {
    color: #0000C0;
}

.cm-s-eclipse span.cm-property {
    color: black;
}

.cm-s-eclipse span.cm-operator {
    color: black;
}

.cm-s-eclipse span.cm-comment {
    color: #3F7F5F;
}

.cm-s-eclipse span.cm-string {
    color: #2A00FF;
}

.cm-s-eclipse span.cm-string-2 {
    color: #f50;
}

.cm-s-eclipse span.cm-qualifier {
    color: #555;
}

.cm-s-eclipse span.cm-builtin {
    color: #30a;
}

.cm-s-eclipse span.cm-bracket {
    color: #cc7;
}

.cm-s-eclipse span.cm-tag {
    color: #170;
}

.cm-s-eclipse span.cm-attribute {
    color: #00c;
}

.cm-s-eclipse span.cm-link {
    color: #219;
}

.cm-s-eclipse span.cm-error {
    color: #f00;
}

.cm-s-eclipse .CodeMirror-activeline-background {
    background: #e8f2ff;
}

.cm-s-eclipse .CodeMirror-matchingbracket {
    outline: 1px solid grey;
    color: black !important;
}
