/*
 * **
 *  ** █ ---------------------------------------------------------------------------------------------------------------------
 *  ** █ ░FRAMEWORK                                  2023-12-01 23:19:27
 *  ** █ ░█▀▀█ █▀▀█ █▀▀▄ █▀▀ ░█─░█ ─▀─ █▀▀▀ █▀▀▀ █▀▀ [App\Modules\Account\Views\Processes\Creator\deny.php]
 *  ** █ ░█─── █──█ █──█ █▀▀ ░█▀▀█ ▀█▀ █─▀█ █─▀█ ▀▀█ Copyright 2023 - CloudEngine S.A.S., Inc. <admin@cgine.com>
 *  ** █ ░█▄▄█ ▀▀▀▀ ▀▀▀─ ▀▀▀ ░█─░█ ▀▀▀ ▀▀▀▀ ▀▀▀▀ ▀▀▀ Para obtener información completa sobre derechos de autor y licencia,
 *  ** █                                             consulte la LICENCIA archivo que se distribuyó con este código fuente.
 *  ** █ ---------------------------------------------------------------------------------------------------------------------
 *  ** █ EL SOFTWARE SE PROPORCIONA -TAL CUAL-, SIN GARANTÍA DE NINGÚN TIPO, EXPRESA O
 *  ** █ IMPLÍCITA, INCLUYENDO PERO NO LIMITADO A LAS GARANTÍAS DE COMERCIABILIDAD,
 *  ** █ APTITUD PARA UN PROPÓSITO PARTICULAR Y NO INFRACCIÓN. EN NINGÚN CASO SERÁ
 *  ** █ LOS AUTORES O TITULARES DE LOS DERECHOS DE AUTOR SERÁN RESPONSABLES DE CUALQUIER
 *  ** █ RECLAMO, DAÑOS U OTROS RESPONSABILIDAD, YA SEA EN UNA ACCIÓN DE CONTRATO,
 *  ** █ AGRAVIO O DE OTRO MODO, QUE SURJA DESDE, FUERA O EN RELACIÓN CON EL SOFTWARE
 *  ** █ O EL USO U OTROS NEGOCIACIONES EN EL SOFTWARE.
 *  ** █ ---------------------------------------------------------------------------------------------------------------------
 *  ** █ @Author Jose Alexis Correa Valencia <jalexiscv@gmail.com>
 *  ** █ @link https://www.codehiggs.com
 *  ** █ @Version 1.5.0 @since PHP 7, PHP 8
 *  ** █ ---------------------------------------------------------------------------------------------------------------------
 *  ** █ Datos recibidos desde el controlador - @ModuleController
 *  ** █ ---------------------------------------------------------------------------------------------------------------------
 *  ** █ @authentication, @request, @dates, @parent, @component, @view, @oid, @views, @prefix
 *  ** █ ---------------------------------------------------------------------------------------------------------------------
 *  **
 */

/* ICEcoder default theme by Matt Pass */

.cm-s-icecoder {
    color: #888;
    background: #1d1d1b
}

.cm-s-icecoder span.cm-keyword {
    color: #eee;
    font-weight: bold
}

/* off-white 1 */
.cm-s-icecoder span.cm-atom {
    color: #e1c76e
}

/* yellow */
.cm-s-icecoder span.cm-number {
    color: #6cb5d9
}

/* blue */
.cm-s-icecoder span.cm-def {
    color: #b9ca4a
}

/* green */

.cm-s-icecoder span.cm-variable {
    color: #6cb5d9
}

/* blue */
.cm-s-icecoder span.cm-variable-2 {
    color: #cc1e5c
}

/* pink */
.cm-s-icecoder span.cm-variable-3 {
    color: #f9602c
}

/* orange */

.cm-s-icecoder span.cm-property {
    color: #eee
}

/* off-white 1 */
.cm-s-icecoder span.cm-operator {
    color: #9179bb
}

/* purple */
.cm-s-icecoder span.cm-comment {
    color: #444;
    font-style: italic
}

/* dark-grey */

.cm-s-icecoder span.cm-string {
    color: #b9ca4a
}

/* green */
.cm-s-icecoder span.cm-string-2 {
    color: #6cb5d9
}

/* blue */

.cm-s-icecoder span.cm-meta {
    color: #888
}

/* grey */

.cm-s-icecoder span.cm-qualifier {
    color: #555
}

/* grey */
.cm-s-icecoder span.cm-builtin {
    color: #214e7b
}

/* bright blue */
.cm-s-icecoder span.cm-bracket {
    color: #cc7
}

/* grey-yellow */

.cm-s-icecoder span.cm-tag {
    color: #e8e8e8
}

/* off-white 2 */
.cm-s-icecoder span.cm-attribute {
    color: #099
}

/* teal */

.cm-s-icecoder span.cm-header {
    color: #6a0d6a
}

/* purple-pink */
.cm-s-icecoder span.cm-quote {
    color: #186718
}

/* dark green */
.cm-s-icecoder span.cm-hr {
    color: #888
}

/* mid-grey */
.cm-s-icecoder span.cm-link {
    color: #e1c76e
}

/* yellow */
.cm-s-icecoder span.cm-error {
    color: #d00
}

/* red */

.cm-s-icecoder .CodeMirror-cursor {
    border-left: 1px solid #ee0;
    box-shadow: -1px 0 0 0 #ee0
}

.cm-s-icecoder .CodeMirror-overwrite .CodeMirror-cursor {
    width: auto;
    border: 1px solid #ee0;
    box-shadow: 0 0 0 0 #ee0
}

.cm-s-icecoder .CodeMirror-selected {
    color: #fff !important;
    background: #037 !important
}

.cm-s-icecoder .CodeMirror-gutters {
    background: #1d1d1b;
    min-width: 41px;
    border-right: 0
}

.cm-s-icecoder .CodeMirror-linenumber {
    color: #555;
    cursor: default
}

.cm-s-icecoder .CodeMirror-matchingbracket {
    color: #fff !important;
    background: #555 !important
}
