/*
 * **
 *  ** █ ---------------------------------------------------------------------------------------------------------------------
 *  ** █ ░FRAMEWORK                                  2023-12-01 23:19:27
 *  ** █ ░█▀▀█ █▀▀█ █▀▀▄ █▀▀ ░█─░█ ─▀─ █▀▀▀ █▀▀▀ █▀▀ [App\Modules\Account\Views\Processes\Creator\deny.php]
 *  ** █ ░█─── █──█ █──█ █▀▀ ░█▀▀█ ▀█▀ █─▀█ █─▀█ ▀▀█ Copyright 2023 - CloudEngine S.A.S., Inc. <admin@cgine.com>
 *  ** █ ░█▄▄█ ▀▀▀▀ ▀▀▀─ ▀▀▀ ░█─░█ ▀▀▀ ▀▀▀▀ ▀▀▀▀ ▀▀▀ Para obtener información completa sobre derechos de autor y licencia,
 *  ** █                                             consulte la LICENCIA archivo que se distribuyó con este código fuente.
 *  ** █ ---------------------------------------------------------------------------------------------------------------------
 *  ** █ EL SOFTWARE SE PROPORCIONA -TAL CUAL-, SIN GARANTÍA DE NINGÚN TIPO, EXPRESA O
 *  ** █ IMPLÍCITA, INCLUYENDO PERO NO LIMITADO A LAS GARANTÍAS DE COMERCIABILIDAD,
 *  ** █ APTITUD PARA UN PROPÓSITO PARTICULAR Y NO INFRACCIÓN. EN NINGÚN CASO SERÁ
 *  ** █ LOS AUTORES O TITULARES DE LOS DERECHOS DE AUTOR SERÁN RESPONSABLES DE CUALQUIER
 *  ** █ RECLAMO, DAÑOS U OTROS RESPONSABILIDAD, YA SEA EN UNA ACCIÓN DE CONTRATO,
 *  ** █ AGRAVIO O DE OTRO MODO, QUE SURJA DESDE, FUERA O EN RELACIÓN CON EL SOFTWARE
 *  ** █ O EL USO U OTROS NEGOCIACIONES EN EL SOFTWARE.
 *  ** █ ---------------------------------------------------------------------------------------------------------------------
 *  ** █ @Author Jose Alexis Correa Valencia <jalexiscv@gmail.com>
 *  ** █ @link https://www.codehiggs.com
 *  ** █ @Version 1.5.0 @since PHP 7, PHP 8
 *  ** █ ---------------------------------------------------------------------------------------------------------------------
 *  ** █ Datos recibidos desde el controlador - @ModuleController
 *  ** █ ---------------------------------------------------------------------------------------------------------------------
 *  ** █ @authentication, @request, @dates, @parent, @component, @view, @oid, @views, @prefix
 *  ** █ ---------------------------------------------------------------------------------------------------------------------
 *  **
 */

/*

    Name:       Isotope
    Author:     David Desandro / Jan T. Sott

    CodeMirror template by Jan T. Sott (https://github.com/idleberg/base16-codemirror)
    Original Base16 color scheme by Chris Kempson (https://github.com/chriskempson/base16)

*/

.cm-s-isotope.CodeMirror {
    background: #000000;
    color: #e0e0e0;
}

.cm-s-isotope div.CodeMirror-selected {
    background: #404040 !important;
}

.cm-s-isotope .CodeMirror-gutters {
    background: #000000;
    border-right: 0px;
}

.cm-s-isotope .CodeMirror-linenumber {
    color: #808080;
}

.cm-s-isotope .CodeMirror-cursor {
    border-left: 1px solid #c0c0c0 !important;
}

.cm-s-isotope span.cm-comment {
    color: #3300ff;
}

.cm-s-isotope span.cm-atom {
    color: #cc00ff;
}

.cm-s-isotope span.cm-number {
    color: #cc00ff;
}

.cm-s-isotope span.cm-property, .cm-s-isotope span.cm-attribute {
    color: #33ff00;
}

.cm-s-isotope span.cm-keyword {
    color: #ff0000;
}

.cm-s-isotope span.cm-string {
    color: #ff0099;
}

.cm-s-isotope span.cm-variable {
    color: #33ff00;
}

.cm-s-isotope span.cm-variable-2 {
    color: #0066ff;
}

.cm-s-isotope span.cm-def {
    color: #ff9900;
}

.cm-s-isotope span.cm-error {
    background: #ff0000;
    color: #c0c0c0;
}

.cm-s-isotope span.cm-bracket {
    color: #e0e0e0;
}

.cm-s-isotope span.cm-tag {
    color: #ff0000;
}

.cm-s-isotope span.cm-link {
    color: #cc00ff;
}

.cm-s-isotope .CodeMirror-matchingbracket {
    text-decoration: underline;
    color: white !important;
}

.cm-s-isotope .CodeMirror-activeline-background {
    background: #202020;
}
