/*
 * **
 *  ** █ ---------------------------------------------------------------------------------------------------------------------
 *  ** █ ░FRAMEWORK                                  2023-12-01 23:19:27
 *  ** █ ░█▀▀█ █▀▀█ █▀▀▄ █▀▀ ░█─░█ ─▀─ █▀▀▀ █▀▀▀ █▀▀ [App\Modules\Account\Views\Processes\Creator\deny.php]
 *  ** █ ░█─── █──█ █──█ █▀▀ ░█▀▀█ ▀█▀ █─▀█ █─▀█ ▀▀█ Copyright 2023 - CloudEngine S.A.S., Inc. <admin@cgine.com>
 *  ** █ ░█▄▄█ ▀▀▀▀ ▀▀▀─ ▀▀▀ ░█─░█ ▀▀▀ ▀▀▀▀ ▀▀▀▀ ▀▀▀ Para obtener información completa sobre derechos de autor y licencia,
 *  ** █                                             consulte la LICENCIA archivo que se distribuyó con este código fuente.
 *  ** █ ---------------------------------------------------------------------------------------------------------------------
 *  ** █ EL SOFTWARE SE PROPORCIONA -TAL CUAL-, SIN GARANTÍA DE NINGÚN TIPO, EXPRESA O
 *  ** █ IMPLÍCITA, INCLUYENDO PERO NO LIMITADO A LAS GARANTÍAS DE COMERCIABILIDAD,
 *  ** █ APTITUD PARA UN PROPÓSITO PARTICULAR Y NO INFRACCIÓN. EN NINGÚN CASO SERÁ
 *  ** █ LOS AUTORES O TITULARES DE LOS DERECHOS DE AUTOR SERÁN RESPONSABLES DE CUALQUIER
 *  ** █ RECLAMO, DAÑOS U OTROS RESPONSABILIDAD, YA SEA EN UNA ACCIÓN DE CONTRATO,
 *  ** █ AGRAVIO O DE OTRO MODO, QUE SURJA DESDE, FUERA O EN RELACIÓN CON EL SOFTWARE
 *  ** █ O EL USO U OTROS NEGOCIACIONES EN EL SOFTWARE.
 *  ** █ ---------------------------------------------------------------------------------------------------------------------
 *  ** █ @Author Jose Alexis Correa Valencia <jalexiscv@gmail.com>
 *  ** █ @link https://www.codehiggs.com
 *  ** █ @Version 1.5.0 @since PHP 7, PHP 8
 *  ** █ ---------------------------------------------------------------------------------------------------------------------
 *  ** █ Datos recibidos desde el controlador - @ModuleController
 *  ** █ ---------------------------------------------------------------------------------------------------------------------
 *  ** █ @authentication, @request, @dates, @parent, @component, @view, @oid, @views, @prefix
 *  ** █ ---------------------------------------------------------------------------------------------------------------------
 *  **
 */

/*
http://lesscss.org/ dark theme
Ported to CodeMirror by Peter Kroon
*/
.cm-s-lesser-dark.CodeMirror {
    background: #262626;
    color: #EBEFE7;
    text-shadow: 0 -1px 1px #262626;
}

.cm-s-lesser-dark div.CodeMirror-selected {
    background: #45443B;
}

/* 33322B*/
.cm-s-lesser-dark .CodeMirror-line::selection, .cm-s-lesser-dark .CodeMirror-line > span::selection, .cm-s-lesser-dark .CodeMirror-line > span > span::selection {
    background: rgba(69, 68, 59, .99);
}

.cm-s-lesser-dark .CodeMirror-line::-moz-selection, .cm-s-lesser-dark .CodeMirror-line > span::-moz-selection, .cm-s-lesser-dark .CodeMirror-line > span > span::-moz-selection {
    background: rgba(69, 68, 59, .99);
}

.cm-s-lesser-dark .CodeMirror-cursor {
    border-left: 1px solid white;
}

.cm-s-lesser-dark pre {
    padding: 0 8px;
}

/*editable code holder*/

.cm-s-lesser-dark.CodeMirror span.CodeMirror-matchingbracket {
    color: #7EFC7E;
}

/*65FC65*/

.cm-s-lesser-dark .CodeMirror-gutters {
    background: #262626;
    border-right: 1px solid #aaa;
}

.cm-s-lesser-dark .CodeMirror-guttermarker {
    color: #599eff;
}

.cm-s-lesser-dark .CodeMirror-guttermarker-subtle {
    color: #777;
}

.cm-s-lesser-dark .CodeMirror-linenumber {
    color: #777;
}

.cm-s-lesser-dark span.cm-header {
    color: #a0a;
}

.cm-s-lesser-dark span.cm-quote {
    color: #090;
}

.cm-s-lesser-dark span.cm-keyword {
    color: #599eff;
}

.cm-s-lesser-dark span.cm-atom {
    color: #C2B470;
}

.cm-s-lesser-dark span.cm-number {
    color: #B35E4D;
}

.cm-s-lesser-dark span.cm-def {
    color: white;
}

.cm-s-lesser-dark span.cm-variable {
    color: #D9BF8C;
}

.cm-s-lesser-dark span.cm-variable-2 {
    color: #669199;
}

.cm-s-lesser-dark span.cm-variable-3 {
    color: white;
}

.cm-s-lesser-dark span.cm-property {
    color: #92A75C;
}

.cm-s-lesser-dark span.cm-operator {
    color: #92A75C;
}

.cm-s-lesser-dark span.cm-comment {
    color: #666;
}

.cm-s-lesser-dark span.cm-string {
    color: #BCD279;
}

.cm-s-lesser-dark span.cm-string-2 {
    color: #f50;
}

.cm-s-lesser-dark span.cm-meta {
    color: #738C73;
}

.cm-s-lesser-dark span.cm-qualifier {
    color: #555;
}

.cm-s-lesser-dark span.cm-builtin {
    color: #ff9e59;
}

.cm-s-lesser-dark span.cm-bracket {
    color: #EBEFE7;
}

.cm-s-lesser-dark span.cm-tag {
    color: #669199;
}

.cm-s-lesser-dark span.cm-attribute {
    color: #00c;
}

.cm-s-lesser-dark span.cm-hr {
    color: #999;
}

.cm-s-lesser-dark span.cm-link {
    color: #00c;
}

.cm-s-lesser-dark span.cm-error {
    color: #9d1e15;
}

.cm-s-lesser-dark .CodeMirror-activeline-background {
    background: #3C3A3A;
}

.cm-s-lesser-dark .CodeMirror-matchingbracket {
    outline: 1px solid grey;
    color: white !important;
}
