/*
 * **
 *  ** █ ---------------------------------------------------------------------------------------------------------------------
 *  ** █ ░FRAMEWORK                                  2023-12-01 23:19:27
 *  ** █ ░█▀▀█ █▀▀█ █▀▀▄ █▀▀ ░█─░█ ─▀─ █▀▀▀ █▀▀▀ █▀▀ [App\Modules\Account\Views\Processes\Creator\deny.php]
 *  ** █ ░█─── █──█ █──█ █▀▀ ░█▀▀█ ▀█▀ █─▀█ █─▀█ ▀▀█ Copyright 2023 - CloudEngine S.A.S., Inc. <admin@cgine.com>
 *  ** █ ░█▄▄█ ▀▀▀▀ ▀▀▀─ ▀▀▀ ░█─░█ ▀▀▀ ▀▀▀▀ ▀▀▀▀ ▀▀▀ Para obtener información completa sobre derechos de autor y licencia,
 *  ** █                                             consulte la LICENCIA archivo que se distribuyó con este código fuente.
 *  ** █ ---------------------------------------------------------------------------------------------------------------------
 *  ** █ EL SOFTWARE SE PROPORCIONA -TAL CUAL-, SIN GARANTÍA DE NINGÚN TIPO, EXPRESA O
 *  ** █ IMPLÍCITA, INCLUYENDO PERO NO LIMITADO A LAS GARANTÍAS DE COMERCIABILIDAD,
 *  ** █ APTITUD PARA UN PROPÓSITO PARTICULAR Y NO INFRACCIÓN. EN NINGÚN CASO SERÁ
 *  ** █ LOS AUTORES O TITULARES DE LOS DERECHOS DE AUTOR SERÁN RESPONSABLES DE CUALQUIER
 *  ** █ RECLAMO, DAÑOS U OTROS RESPONSABILIDAD, YA SEA EN UNA ACCIÓN DE CONTRATO,
 *  ** █ AGRAVIO O DE OTRO MODO, QUE SURJA DESDE, FUERA O EN RELACIÓN CON EL SOFTWARE
 *  ** █ O EL USO U OTROS NEGOCIACIONES EN EL SOFTWARE.
 *  ** █ ---------------------------------------------------------------------------------------------------------------------
 *  ** █ @Author Jose Alexis Correa Valencia <jalexiscv@gmail.com>
 *  ** █ @link https://www.codehiggs.com
 *  ** █ @Version 1.5.0 @since PHP 7, PHP 8
 *  ** █ ---------------------------------------------------------------------------------------------------------------------
 *  ** █ Datos recibidos desde el controlador - @ModuleController
 *  ** █ ---------------------------------------------------------------------------------------------------------------------
 *  ** █ @authentication, @request, @dates, @parent, @component, @view, @oid, @views, @prefix
 *  ** █ ---------------------------------------------------------------------------------------------------------------------
 *  **
 */

/****************************************************************/
/*   Based on mbonaci's Brackets mbo theme                      */
/*   https://github.com/mbonaci/global/blob/master/Mbo.tmTheme  */
/*   Create your own: http://tmtheme-editor.herokuapp.com       */
/****************************************************************/

.cm-s-mbo.CodeMirror {
    background: #2c2c2c;
    color: #ffffec;
}

.cm-s-mbo div.CodeMirror-selected {
    background: #716C62;
}

.cm-s-mbo .CodeMirror-line::selection, .cm-s-mbo .CodeMirror-line > span::selection, .cm-s-mbo .CodeMirror-line > span > span::selection {
    background: rgba(113, 108, 98, .99);
}

.cm-s-mbo .CodeMirror-line::-moz-selection, .cm-s-mbo .CodeMirror-line > span::-moz-selection, .cm-s-mbo .CodeMirror-line > span > span::-moz-selection {
    background: rgba(113, 108, 98, .99);
}

.cm-s-mbo .CodeMirror-gutters {
    background: #4e4e4e;
    border-right: 0px;
}

.cm-s-mbo .CodeMirror-guttermarker {
    color: white;
}

.cm-s-mbo .CodeMirror-guttermarker-subtle {
    color: grey;
}

.cm-s-mbo .CodeMirror-linenumber {
    color: #dadada;
}

.cm-s-mbo .CodeMirror-cursor {
    border-left: 1px solid #ffffec;
}

.cm-s-mbo span.cm-comment {
    color: #95958a;
}

.cm-s-mbo span.cm-atom {
    color: #00a8c6;
}

.cm-s-mbo span.cm-number {
    color: #00a8c6;
}

.cm-s-mbo span.cm-property, .cm-s-mbo span.cm-attribute {
    color: #9ddfe9;
}

.cm-s-mbo span.cm-keyword {
    color: #ffb928;
}

.cm-s-mbo span.cm-string {
    color: #ffcf6c;
}

.cm-s-mbo span.cm-string.cm-property {
    color: #ffffec;
}

.cm-s-mbo span.cm-variable {
    color: #ffffec;
}

.cm-s-mbo span.cm-variable-2 {
    color: #00a8c6;
}

.cm-s-mbo span.cm-def {
    color: #ffffec;
}

.cm-s-mbo span.cm-bracket {
    color: #fffffc;
    font-weight: bold;
}

.cm-s-mbo span.cm-tag {
    color: #9ddfe9;
}

.cm-s-mbo span.cm-link {
    color: #f54b07;
}

.cm-s-mbo span.cm-error {
    border-bottom: #636363;
    color: #ffffec;
}

.cm-s-mbo span.cm-qualifier {
    color: #ffffec;
}

.cm-s-mbo .CodeMirror-activeline-background {
    background: #494b41;
}

.cm-s-mbo .CodeMirror-matchingbracket {
    color: #ffb928 !important;
}

.cm-s-mbo .CodeMirror-matchingtag {
    background: rgba(255, 255, 255, .37);
}
