/*
 * **
 *  ** █ ---------------------------------------------------------------------------------------------------------------------
 *  ** █ ░FRAMEWORK                                  2023-12-01 23:19:27
 *  ** █ ░█▀▀█ █▀▀█ █▀▀▄ █▀▀ ░█─░█ ─▀─ █▀▀▀ █▀▀▀ █▀▀ [App\Modules\Account\Views\Processes\Creator\deny.php]
 *  ** █ ░█─── █──█ █──█ █▀▀ ░█▀▀█ ▀█▀ █─▀█ █─▀█ ▀▀█ Copyright 2023 - CloudEngine S.A.S., Inc. <admin@cgine.com>
 *  ** █ ░█▄▄█ ▀▀▀▀ ▀▀▀─ ▀▀▀ ░█─░█ ▀▀▀ ▀▀▀▀ ▀▀▀▀ ▀▀▀ Para obtener información completa sobre derechos de autor y licencia,
 *  ** █                                             consulte la LICENCIA archivo que se distribuyó con este código fuente.
 *  ** █ ---------------------------------------------------------------------------------------------------------------------
 *  ** █ EL SOFTWARE SE PROPORCIONA -TAL CUAL-, SIN GARANTÍA DE NINGÚN TIPO, EXPRESA O
 *  ** █ IMPLÍCITA, INCLUYENDO PERO NO LIMITADO A LAS GARANTÍAS DE COMERCIABILIDAD,
 *  ** █ APTITUD PARA UN PROPÓSITO PARTICULAR Y NO INFRACCIÓN. EN NINGÚN CASO SERÁ
 *  ** █ LOS AUTORES O TITULARES DE LOS DERECHOS DE AUTOR SERÁN RESPONSABLES DE CUALQUIER
 *  ** █ RECLAMO, DAÑOS U OTROS RESPONSABILIDAD, YA SEA EN UNA ACCIÓN DE CONTRATO,
 *  ** █ AGRAVIO O DE OTRO MODO, QUE SURJA DESDE, FUERA O EN RELACIÓN CON EL SOFTWARE
 *  ** █ O EL USO U OTROS NEGOCIACIONES EN EL SOFTWARE.
 *  ** █ ---------------------------------------------------------------------------------------------------------------------
 *  ** █ @Author Jose Alexis Correa Valencia <jalexiscv@gmail.com>
 *  ** █ @link https://www.codehiggs.com
 *  ** █ @Version 1.5.0 @since PHP 7, PHP 8
 *  ** █ ---------------------------------------------------------------------------------------------------------------------
 *  ** █ Datos recibidos desde el controlador - @ModuleController
 *  ** █ ---------------------------------------------------------------------------------------------------------------------
 *  ** █ @authentication, @request, @dates, @parent, @component, @view, @oid, @views, @prefix
 *  ** █ ---------------------------------------------------------------------------------------------------------------------
 *  **
 */

/* Based on the theme at http://bonsaiden.github.com/JavaScript-Garden */

/*<!--match-->*/
.cm-s-midnight span.CodeMirror-matchhighlight {
    background: #494949;
}

.cm-s-midnight.CodeMirror-focused span.CodeMirror-matchhighlight {
    background: #314D67 !important;
}

/*<!--activeline-->*/
.cm-s-midnight .CodeMirror-activeline-background {
    background: #253540;
}

.cm-s-midnight.CodeMirror {
    background: #0F192A;
    color: #D1EDFF;
}

.cm-s-midnight div.CodeMirror-selected {
    background: #314D67;
}

.cm-s-midnight .CodeMirror-line::selection, .cm-s-midnight .CodeMirror-line > span::selection, .cm-s-midnight .CodeMirror-line > span > span::selection {
    background: rgba(49, 77, 103, .99);
}

.cm-s-midnight .CodeMirror-line::-moz-selection, .cm-s-midnight .CodeMirror-line > span::-moz-selection, .cm-s-midnight .CodeMirror-line > span > span::-moz-selection {
    background: rgba(49, 77, 103, .99);
}

.cm-s-midnight .CodeMirror-gutters {
    background: #0F192A;
    border-right: 1px solid;
}

.cm-s-midnight .CodeMirror-guttermarker {
    color: white;
}

.cm-s-midnight .CodeMirror-guttermarker-subtle {
    color: #d0d0d0;
}

.cm-s-midnight .CodeMirror-linenumber {
    color: #D0D0D0;
}

.cm-s-midnight .CodeMirror-cursor {
    border-left: 1px solid #F8F8F0;
}

.cm-s-midnight span.cm-comment {
    color: #428BDD;
}

.cm-s-midnight span.cm-atom {
    color: #AE81FF;
}

.cm-s-midnight span.cm-number {
    color: #D1EDFF;
}

.cm-s-midnight span.cm-property, .cm-s-midnight span.cm-attribute {
    color: #A6E22E;
}

.cm-s-midnight span.cm-keyword {
    color: #E83737;
}

.cm-s-midnight span.cm-string {
    color: #1DC116;
}

.cm-s-midnight span.cm-variable {
    color: #FFAA3E;
}

.cm-s-midnight span.cm-variable-2 {
    color: #FFAA3E;
}

.cm-s-midnight span.cm-def {
    color: #4DD;
}

.cm-s-midnight span.cm-bracket {
    color: #D1EDFF;
}

.cm-s-midnight span.cm-tag {
    color: #449;
}

.cm-s-midnight span.cm-link {
    color: #AE81FF;
}

.cm-s-midnight span.cm-error {
    background: #F92672;
    color: #F8F8F0;
}

.cm-s-midnight .CodeMirror-matchingbracket {
    text-decoration: underline;
    color: white !important;
}
