/*
 * **
 *  ** █ ---------------------------------------------------------------------------------------------------------------------
 *  ** █ ░FRAMEWORK                                  2023-12-01 23:19:27
 *  ** █ ░█▀▀█ █▀▀█ █▀▀▄ █▀▀ ░█─░█ ─▀─ █▀▀▀ █▀▀▀ █▀▀ [App\Modules\Account\Views\Processes\Creator\deny.php]
 *  ** █ ░█─── █──█ █──█ █▀▀ ░█▀▀█ ▀█▀ █─▀█ █─▀█ ▀▀█ Copyright 2023 - CloudEngine S.A.S., Inc. <admin@cgine.com>
 *  ** █ ░█▄▄█ ▀▀▀▀ ▀▀▀─ ▀▀▀ ░█─░█ ▀▀▀ ▀▀▀▀ ▀▀▀▀ ▀▀▀ Para obtener información completa sobre derechos de autor y licencia,
 *  ** █                                             consulte la LICENCIA archivo que se distribuyó con este código fuente.
 *  ** █ ---------------------------------------------------------------------------------------------------------------------
 *  ** █ EL SOFTWARE SE PROPORCIONA -TAL CUAL-, SIN GARANTÍA DE NINGÚN TIPO, EXPRESA O
 *  ** █ IMPLÍCITA, INCLUYENDO PERO NO LIMITADO A LAS GARANTÍAS DE COMERCIABILIDAD,
 *  ** █ APTITUD PARA UN PROPÓSITO PARTICULAR Y NO INFRACCIÓN. EN NINGÚN CASO SERÁ
 *  ** █ LOS AUTORES O TITULARES DE LOS DERECHOS DE AUTOR SERÁN RESPONSABLES DE CUALQUIER
 *  ** █ RECLAMO, DAÑOS U OTROS RESPONSABILIDAD, YA SEA EN UNA ACCIÓN DE CONTRATO,
 *  ** █ AGRAVIO O DE OTRO MODO, QUE SURJA DESDE, FUERA O EN RELACIÓN CON EL SOFTWARE
 *  ** █ O EL USO U OTROS NEGOCIACIONES EN EL SOFTWARE.
 *  ** █ ---------------------------------------------------------------------------------------------------------------------
 *  ** █ @Author Jose Alexis Correa Valencia <jalexiscv@gmail.com>
 *  ** █ @link https://www.codehiggs.com
 *  ** █ @Version 1.5.0 @since PHP 7, PHP 8
 *  ** █ ---------------------------------------------------------------------------------------------------------------------
 *  ** █ Datos recibidos desde el controlador - @ModuleController
 *  ** █ ---------------------------------------------------------------------------------------------------------------------
 *  ** █ @authentication, @request, @dates, @parent, @component, @view, @oid, @views, @prefix
 *  ** █ ---------------------------------------------------------------------------------------------------------------------
 *  **
 */

/* Based on Sublime Text's Monokai theme */

.cm-s-monokai.CodeMirror {
    background: #272822;
    color: #f8f8f2;
}

.cm-s-monokai div.CodeMirror-selected {
    background: #49483E;
}

.cm-s-monokai .CodeMirror-line::selection, .cm-s-monokai .CodeMirror-line > span::selection, .cm-s-monokai .CodeMirror-line > span > span::selection {
    background: rgba(73, 72, 62, .99);
}

.cm-s-monokai .CodeMirror-line::-moz-selection, .cm-s-monokai .CodeMirror-line > span::-moz-selection, .cm-s-monokai .CodeMirror-line > span > span::-moz-selection {
    background: rgba(73, 72, 62, .99);
}

.cm-s-monokai .CodeMirror-gutters {
    background: #272822;
    border-right: 0px;
}

.cm-s-monokai .CodeMirror-guttermarker {
    color: white;
}

.cm-s-monokai .CodeMirror-guttermarker-subtle {
    color: #d0d0d0;
}

.cm-s-monokai .CodeMirror-linenumber {
    color: #d0d0d0;
}

.cm-s-monokai .CodeMirror-cursor {
    border-left: 1px solid #f8f8f0;
}

.cm-s-monokai span.cm-comment {
    color: #75715e;
}

.cm-s-monokai span.cm-atom {
    color: #ae81ff;
}

.cm-s-monokai span.cm-number {
    color: #ae81ff;
}

.cm-s-monokai span.cm-property, .cm-s-monokai span.cm-attribute {
    color: #a6e22e;
}

.cm-s-monokai span.cm-keyword {
    color: #f92672;
}

.cm-s-monokai span.cm-builtin {
    color: #66d9ef;
}

.cm-s-monokai span.cm-string {
    color: #e6db74;
}

.cm-s-monokai span.cm-variable {
    color: #f8f8f2;
}

.cm-s-monokai span.cm-variable-2 {
    color: #9effff;
}

.cm-s-monokai span.cm-variable-3 {
    color: #66d9ef;
}

.cm-s-monokai span.cm-def {
    color: #fd971f;
}

.cm-s-monokai span.cm-bracket {
    color: #f8f8f2;
}

.cm-s-monokai span.cm-tag {
    color: #f92672;
}

.cm-s-monokai span.cm-header {
    color: #ae81ff;
}

.cm-s-monokai span.cm-link {
    color: #ae81ff;
}

.cm-s-monokai span.cm-error {
    background: #f92672;
    color: #f8f8f0;
}

.cm-s-monokai .CodeMirror-activeline-background {
    background: #373831;
}

.cm-s-monokai .CodeMirror-matchingbracket {
    text-decoration: underline;
    color: white !important;
}
