/*
 * **
 *  ** █ ---------------------------------------------------------------------------------------------------------------------
 *  ** █ ░FRAMEWORK                                  2023-12-01 23:19:27
 *  ** █ ░█▀▀█ █▀▀█ █▀▀▄ █▀▀ ░█─░█ ─▀─ █▀▀▀ █▀▀▀ █▀▀ [App\Modules\Account\Views\Processes\Creator\deny.php]
 *  ** █ ░█─── █──█ █──█ █▀▀ ░█▀▀█ ▀█▀ █─▀█ █─▀█ ▀▀█ Copyright 2023 - CloudEngine S.A.S., Inc. <admin@cgine.com>
 *  ** █ ░█▄▄█ ▀▀▀▀ ▀▀▀─ ▀▀▀ ░█─░█ ▀▀▀ ▀▀▀▀ ▀▀▀▀ ▀▀▀ Para obtener información completa sobre derechos de autor y licencia,
 *  ** █                                             consulte la LICENCIA archivo que se distribuyó con este código fuente.
 *  ** █ ---------------------------------------------------------------------------------------------------------------------
 *  ** █ EL SOFTWARE SE PROPORCIONA -TAL CUAL-, SIN GARANTÍA DE NINGÚN TIPO, EXPRESA O
 *  ** █ IMPLÍCITA, INCLUYENDO PERO NO LIMITADO A LAS GARANTÍAS DE COMERCIABILIDAD,
 *  ** █ APTITUD PARA UN PROPÓSITO PARTICULAR Y NO INFRACCIÓN. EN NINGÚN CASO SERÁ
 *  ** █ LOS AUTORES O TITULARES DE LOS DERECHOS DE AUTOR SERÁN RESPONSABLES DE CUALQUIER
 *  ** █ RECLAMO, DAÑOS U OTROS RESPONSABILIDAD, YA SEA EN UNA ACCIÓN DE CONTRATO,
 *  ** █ AGRAVIO O DE OTRO MODO, QUE SURJA DESDE, FUERA O EN RELACIÓN CON EL SOFTWARE
 *  ** █ O EL USO U OTROS NEGOCIACIONES EN EL SOFTWARE.
 *  ** █ ---------------------------------------------------------------------------------------------------------------------
 *  ** █ @Author Jose Alexis Correa Valencia <jalexiscv@gmail.com>
 *  ** █ @link https://www.codehiggs.com
 *  ** █ @Version 1.5.0 @since PHP 7, PHP 8
 *  ** █ ---------------------------------------------------------------------------------------------------------------------
 *  ** █ Datos recibidos desde el controlador - @ModuleController
 *  ** █ ---------------------------------------------------------------------------------------------------------------------
 *  ** █ @authentication, @request, @dates, @parent, @component, @view, @oid, @views, @prefix
 *  ** █ ---------------------------------------------------------------------------------------------------------------------
 *  **
 */

/* Loosely based on the Midnight Textmate theme */

.cm-s-night.CodeMirror {
    background: #0a001f;
    color: #f8f8f8;
}

.cm-s-night div.CodeMirror-selected {
    background: #447;
}

.cm-s-night .CodeMirror-line::selection, .cm-s-night .CodeMirror-line > span::selection, .cm-s-night .CodeMirror-line > span > span::selection {
    background: rgba(68, 68, 119, .99);
}

.cm-s-night .CodeMirror-line::-moz-selection, .cm-s-night .CodeMirror-line > span::-moz-selection, .cm-s-night .CodeMirror-line > span > span::-moz-selection {
    background: rgba(68, 68, 119, .99);
}

.cm-s-night .CodeMirror-gutters {
    background: #0a001f;
    border-right: 1px solid #aaa;
}

.cm-s-night .CodeMirror-guttermarker {
    color: white;
}

.cm-s-night .CodeMirror-guttermarker-subtle {
    color: #bbb;
}

.cm-s-night .CodeMirror-linenumber {
    color: #f8f8f8;
}

.cm-s-night .CodeMirror-cursor {
    border-left: 1px solid white;
}

.cm-s-night span.cm-comment {
    color: #8900d1;
}

.cm-s-night span.cm-atom {
    color: #845dc4;
}

.cm-s-night span.cm-number, .cm-s-night span.cm-attribute {
    color: #ffd500;
}

.cm-s-night span.cm-keyword {
    color: #599eff;
}

.cm-s-night span.cm-string {
    color: #37f14a;
}

.cm-s-night span.cm-meta {
    color: #7678e2;
}

.cm-s-night span.cm-variable-2, .cm-s-night span.cm-tag {
    color: #99b2ff;
}

.cm-s-night span.cm-variable-3, .cm-s-night span.cm-def {
    color: white;
}

.cm-s-night span.cm-bracket {
    color: #8da6ce;
}

.cm-s-night span.cm-builtin, .cm-s-night span.cm-special {
    color: #ff9e59;
}

.cm-s-night span.cm-link {
    color: #845dc4;
}

.cm-s-night span.cm-error {
    color: #9d1e15;
}

.cm-s-night .CodeMirror-activeline-background {
    background: #1C005A;
}

.cm-s-night .CodeMirror-matchingbracket {
    outline: 1px solid grey;
    color: white !important;
}
