/*
 * **
 *  ** █ ---------------------------------------------------------------------------------------------------------------------
 *  ** █ ░FRAMEWORK                                  2023-12-01 23:19:27
 *  ** █ ░█▀▀█ █▀▀█ █▀▀▄ █▀▀ ░█─░█ ─▀─ █▀▀▀ █▀▀▀ █▀▀ [App\Modules\Account\Views\Processes\Creator\deny.php]
 *  ** █ ░█─── █──█ █──█ █▀▀ ░█▀▀█ ▀█▀ █─▀█ █─▀█ ▀▀█ Copyright 2023 - CloudEngine S.A.S., Inc. <admin@cgine.com>
 *  ** █ ░█▄▄█ ▀▀▀▀ ▀▀▀─ ▀▀▀ ░█─░█ ▀▀▀ ▀▀▀▀ ▀▀▀▀ ▀▀▀ Para obtener información completa sobre derechos de autor y licencia,
 *  ** █                                             consulte la LICENCIA archivo que se distribuyó con este código fuente.
 *  ** █ ---------------------------------------------------------------------------------------------------------------------
 *  ** █ EL SOFTWARE SE PROPORCIONA -TAL CUAL-, SIN GARANTÍA DE NINGÚN TIPO, EXPRESA O
 *  ** █ IMPLÍCITA, INCLUYENDO PERO NO LIMITADO A LAS GARANTÍAS DE COMERCIABILIDAD,
 *  ** █ APTITUD PARA UN PROPÓSITO PARTICULAR Y NO INFRACCIÓN. EN NINGÚN CASO SERÁ
 *  ** █ LOS AUTORES O TITULARES DE LOS DERECHOS DE AUTOR SERÁN RESPONSABLES DE CUALQUIER
 *  ** █ RECLAMO, DAÑOS U OTROS RESPONSABILIDAD, YA SEA EN UNA ACCIÓN DE CONTRATO,
 *  ** █ AGRAVIO O DE OTRO MODO, QUE SURJA DESDE, FUERA O EN RELACIÓN CON EL SOFTWARE
 *  ** █ O EL USO U OTROS NEGOCIACIONES EN EL SOFTWARE.
 *  ** █ ---------------------------------------------------------------------------------------------------------------------
 *  ** █ @Author Jose Alexis Correa Valencia <jalexiscv@gmail.com>
 *  ** █ @link https://www.codehiggs.com
 *  ** █ @Version 1.5.0 @since PHP 7, PHP 8
 *  ** █ ---------------------------------------------------------------------------------------------------------------------
 *  ** █ Datos recibidos desde el controlador - @ModuleController
 *  ** █ ---------------------------------------------------------------------------------------------------------------------
 *  ** █ @authentication, @request, @dates, @parent, @component, @view, @oid, @views, @prefix
 *  ** █ ---------------------------------------------------------------------------------------------------------------------
 *  **
 */

.cm-s-oceanic {
    font-family: monospace;
    background: #1B2630;
    color: #F8F8F2;
}

.cm-s-oceanic .CodeMirror-gutters {
    box-shadow: 1px 0 2px 0 rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 1px 0 2px 0 rgba(0, 0, 0, 0.5);
    background-color: #1B2630;
    z-index: 3;
    border: none;
}

.cm-s-oceanic div.CodeMirror-cursor {
    border-left: 3px solid #F8F8F2;
}

.cm-s-oceanic .CodeMirror-activeline-background {
    background: #3D2E2E77;
}

.cm-s-oceanic .CodeMirror-selected {
    background: #95A3A63D;
}

.cm-s-oceanic .cm-comment {
    color: #6D6D6D;
}

.cm-s-oceanic .cm-string {
    color: #8AD6F2;
}

.cm-s-oceanic .cm-number {
    color: #FFB266;
}

.cm-s-oceanic .cm-atom {
    color: #FFB266;
}

.cm-s-oceanic .cm-keyword {
    color: #E47D80;
}

.cm-s-oceanic .cm-variable {
    color: #F2AAEC;
}

.cm-s-oceanic .cm-def {
    font-style: italic;
    color: #FFD2A6;
}

.cm-s-oceanic .cm-variable-2 {
    color: #BAE682;
}

.cm-s-oceanic .cm-property {
    color: #FFB266;
}

.cm-s-oceanic .cm-operator {
    color: #E47D80;
}

.cm-s-oceanic .CodeMirror-linenumber {
    color: #6D6D6D;
}
