/*
 * **
 *  ** █ ---------------------------------------------------------------------------------------------------------------------
 *  ** █ ░FRAMEWORK                                  2023-12-01 23:19:27
 *  ** █ ░█▀▀█ █▀▀█ █▀▀▄ █▀▀ ░█─░█ ─▀─ █▀▀▀ █▀▀▀ █▀▀ [App\Modules\Account\Views\Processes\Creator\deny.php]
 *  ** █ ░█─── █──█ █──█ █▀▀ ░█▀▀█ ▀█▀ █─▀█ █─▀█ ▀▀█ Copyright 2023 - CloudEngine S.A.S., Inc. <admin@cgine.com>
 *  ** █ ░█▄▄█ ▀▀▀▀ ▀▀▀─ ▀▀▀ ░█─░█ ▀▀▀ ▀▀▀▀ ▀▀▀▀ ▀▀▀ Para obtener información completa sobre derechos de autor y licencia,
 *  ** █                                             consulte la LICENCIA archivo que se distribuyó con este código fuente.
 *  ** █ ---------------------------------------------------------------------------------------------------------------------
 *  ** █ EL SOFTWARE SE PROPORCIONA -TAL CUAL-, SIN GARANTÍA DE NINGÚN TIPO, EXPRESA O
 *  ** █ IMPLÍCITA, INCLUYENDO PERO NO LIMITADO A LAS GARANTÍAS DE COMERCIABILIDAD,
 *  ** █ APTITUD PARA UN PROPÓSITO PARTICULAR Y NO INFRACCIÓN. EN NINGÚN CASO SERÁ
 *  ** █ LOS AUTORES O TITULARES DE LOS DERECHOS DE AUTOR SERÁN RESPONSABLES DE CUALQUIER
 *  ** █ RECLAMO, DAÑOS U OTROS RESPONSABILIDAD, YA SEA EN UNA ACCIÓN DE CONTRATO,
 *  ** █ AGRAVIO O DE OTRO MODO, QUE SURJA DESDE, FUERA O EN RELACIÓN CON EL SOFTWARE
 *  ** █ O EL USO U OTROS NEGOCIACIONES EN EL SOFTWARE.
 *  ** █ ---------------------------------------------------------------------------------------------------------------------
 *  ** █ @Author Jose Alexis Correa Valencia <jalexiscv@gmail.com>
 *  ** █ @link https://www.codehiggs.com
 *  ** █ @Version 1.5.0 @since PHP 7, PHP 8
 *  ** █ ---------------------------------------------------------------------------------------------------------------------
 *  ** █ Datos recibidos desde el controlador - @ModuleController
 *  ** █ ---------------------------------------------------------------------------------------------------------------------
 *  ** █ @authentication, @request, @dates, @parent, @component, @view, @oid, @views, @prefix
 *  ** █ ---------------------------------------------------------------------------------------------------------------------
 *  **
 */

.cm-s-pastel-on-dark.CodeMirror {
    background: #2c2827;
    color: #8F938F;
}

.cm-s-pastel-on-dark div.CodeMirror-selected {
    background: rgba(221, 240, 255, 0.2);
}

.cm-s-pastel-on-dark .CodeMirror-line::selection, .cm-s-pastel-on-dark .CodeMirror-line > span::selection, .cm-s-pastel-on-dark .CodeMirror-line > span > span::selection {
    background: rgba(221, 240, 255, 0.2);
}

.cm-s-pastel-on-dark .CodeMirror-line::-moz-selection, .cm-s-pastel-on-dark .CodeMirror-line > span::-moz-selection, .cm-s-pastel-on-dark .CodeMirror-line > span > span::-moz-selection {
    background: rgba(221, 240, 255, 0.2);
}

.cm-s-pastel-on-dark .CodeMirror-gutters {
    background: #34302f;
    border-right: 0px;
    padding: 0 3px;
}

.cm-s-pastel-on-dark .CodeMirror-guttermarker {
    color: white;
}

.cm-s-pastel-on-dark .CodeMirror-guttermarker-subtle {
    color: #8F938F;
}

.cm-s-pastel-on-dark .CodeMirror-linenumber {
    color: #8F938F;
}

.cm-s-pastel-on-dark .CodeMirror-cursor {
    border-left: 1px solid #A7A7A7;
}

.cm-s-pastel-on-dark span.cm-comment {
    color: #A6C6FF;
}

.cm-s-pastel-on-dark span.cm-atom {
    color: #DE8E30;
}

.cm-s-pastel-on-dark span.cm-number {
    color: #CCCCCC;
}

.cm-s-pastel-on-dark span.cm-property {
    color: #8F938F;
}

.cm-s-pastel-on-dark span.cm-attribute {
    color: #a6e22e;
}

.cm-s-pastel-on-dark span.cm-keyword {
    color: #AEB2F8;
}

.cm-s-pastel-on-dark span.cm-string {
    color: #66A968;
}

.cm-s-pastel-on-dark span.cm-variable {
    color: #AEB2F8;
}

.cm-s-pastel-on-dark span.cm-variable-2 {
    color: #BEBF55;
}

.cm-s-pastel-on-dark span.cm-variable-3 {
    color: #DE8E30;
}

.cm-s-pastel-on-dark span.cm-def {
    color: #757aD8;
}

.cm-s-pastel-on-dark span.cm-bracket {
    color: #f8f8f2;
}

.cm-s-pastel-on-dark span.cm-tag {
    color: #C1C144;
}

.cm-s-pastel-on-dark span.cm-link {
    color: #ae81ff;
}

.cm-s-pastel-on-dark span.cm-qualifier, .cm-s-pastel-on-dark span.cm-builtin {
    color: #C1C144;
}

.cm-s-pastel-on-dark span.cm-error {
    background: #757aD8;
    color: #f8f8f0;
}

.cm-s-pastel-on-dark .CodeMirror-activeline-background {
    background: rgba(255, 255, 255, 0.031);
}

.cm-s-pastel-on-dark .CodeMirror-matchingbracket {
    border: 1px solid rgba(255, 255, 255, 0.25);
    color: #8F938F !important;
    margin: -1px -1px 0 -1px;
}
