/*
 * **
 *  ** █ ---------------------------------------------------------------------------------------------------------------------
 *  ** █ ░FRAMEWORK                                  2023-12-01 23:19:27
 *  ** █ ░█▀▀█ █▀▀█ █▀▀▄ █▀▀ ░█─░█ ─▀─ █▀▀▀ █▀▀▀ █▀▀ [App\Modules\Account\Views\Processes\Creator\deny.php]
 *  ** █ ░█─── █──█ █──█ █▀▀ ░█▀▀█ ▀█▀ █─▀█ █─▀█ ▀▀█ Copyright 2023 - CloudEngine S.A.S., Inc. <admin@cgine.com>
 *  ** █ ░█▄▄█ ▀▀▀▀ ▀▀▀─ ▀▀▀ ░█─░█ ▀▀▀ ▀▀▀▀ ▀▀▀▀ ▀▀▀ Para obtener información completa sobre derechos de autor y licencia,
 *  ** █                                             consulte la LICENCIA archivo que se distribuyó con este código fuente.
 *  ** █ ---------------------------------------------------------------------------------------------------------------------
 *  ** █ EL SOFTWARE SE PROPORCIONA -TAL CUAL-, SIN GARANTÍA DE NINGÚN TIPO, EXPRESA O
 *  ** █ IMPLÍCITA, INCLUYENDO PERO NO LIMITADO A LAS GARANTÍAS DE COMERCIABILIDAD,
 *  ** █ APTITUD PARA UN PROPÓSITO PARTICULAR Y NO INFRACCIÓN. EN NINGÚN CASO SERÁ
 *  ** █ LOS AUTORES O TITULARES DE LOS DERECHOS DE AUTOR SERÁN RESPONSABLES DE CUALQUIER
 *  ** █ RECLAMO, DAÑOS U OTROS RESPONSABILIDAD, YA SEA EN UNA ACCIÓN DE CONTRATO,
 *  ** █ AGRAVIO O DE OTRO MODO, QUE SURJA DESDE, FUERA O EN RELACIÓN CON EL SOFTWARE
 *  ** █ O EL USO U OTROS NEGOCIACIONES EN EL SOFTWARE.
 *  ** █ ---------------------------------------------------------------------------------------------------------------------
 *  ** █ @Author Jose Alexis Correa Valencia <jalexiscv@gmail.com>
 *  ** █ @link https://www.codehiggs.com
 *  ** █ @Version 1.5.0 @since PHP 7, PHP 8
 *  ** █ ---------------------------------------------------------------------------------------------------------------------
 *  ** █ Datos recibidos desde el controlador - @ModuleController
 *  ** █ ---------------------------------------------------------------------------------------------------------------------
 *  ** █ @authentication, @request, @dates, @parent, @component, @view, @oid, @views, @prefix
 *  ** █ ---------------------------------------------------------------------------------------------------------------------
 *  **
 */

/*

    Name:       Railscasts
    Author:     Ryan Bates (http://railscasts.com)

    CodeMirror template by Jan T. Sott (https://github.com/idleberg/base16-codemirror)
    Original Base16 color scheme by Chris Kempson (https://github.com/chriskempson/base16)

*/

.cm-s-railscasts.CodeMirror {
    background: #2b2b2b;
    color: #f4f1ed;
}

.cm-s-railscasts div.CodeMirror-selected {
    background: #272935 !important;
}

.cm-s-railscasts .CodeMirror-gutters {
    background: #2b2b2b;
    border-right: 0px;
}

.cm-s-railscasts .CodeMirror-linenumber {
    color: #5a647e;
}

.cm-s-railscasts .CodeMirror-cursor {
    border-left: 1px solid #d4cfc9 !important;
}

.cm-s-railscasts span.cm-comment {
    color: #bc9458;
}

.cm-s-railscasts span.cm-atom {
    color: #b6b3eb;
}

.cm-s-railscasts span.cm-number {
    color: #b6b3eb;
}

.cm-s-railscasts span.cm-property, .cm-s-railscasts span.cm-attribute {
    color: #a5c261;
}

.cm-s-railscasts span.cm-keyword {
    color: #da4939;
}

.cm-s-railscasts span.cm-string {
    color: #ffc66d;
}

.cm-s-railscasts span.cm-variable {
    color: #a5c261;
}

.cm-s-railscasts span.cm-variable-2 {
    color: #6d9cbe;
}

.cm-s-railscasts span.cm-def {
    color: #cc7833;
}

.cm-s-railscasts span.cm-error {
    background: #da4939;
    color: #d4cfc9;
}

.cm-s-railscasts span.cm-bracket {
    color: #f4f1ed;
}

.cm-s-railscasts span.cm-tag {
    color: #da4939;
}

.cm-s-railscasts span.cm-link {
    color: #b6b3eb;
}

.cm-s-railscasts .CodeMirror-matchingbracket {
    text-decoration: underline;
    color: white !important;
}

.cm-s-railscasts .CodeMirror-activeline-background {
    background: #303040;
}
