/*
 * **
 *  ** █ ---------------------------------------------------------------------------------------------------------------------
 *  ** █ ░FRAMEWORK                                  2023-12-01 23:19:27
 *  ** █ ░█▀▀█ █▀▀█ █▀▀▄ █▀▀ ░█─░█ ─▀─ █▀▀▀ █▀▀▀ █▀▀ [App\Modules\Account\Views\Processes\Creator\deny.php]
 *  ** █ ░█─── █──█ █──█ █▀▀ ░█▀▀█ ▀█▀ █─▀█ █─▀█ ▀▀█ Copyright 2023 - CloudEngine S.A.S., Inc. <admin@cgine.com>
 *  ** █ ░█▄▄█ ▀▀▀▀ ▀▀▀─ ▀▀▀ ░█─░█ ▀▀▀ ▀▀▀▀ ▀▀▀▀ ▀▀▀ Para obtener información completa sobre derechos de autor y licencia,
 *  ** █                                             consulte la LICENCIA archivo que se distribuyó con este código fuente.
 *  ** █ ---------------------------------------------------------------------------------------------------------------------
 *  ** █ EL SOFTWARE SE PROPORCIONA -TAL CUAL-, SIN GARANTÍA DE NINGÚN TIPO, EXPRESA O
 *  ** █ IMPLÍCITA, INCLUYENDO PERO NO LIMITADO A LAS GARANTÍAS DE COMERCIABILIDAD,
 *  ** █ APTITUD PARA UN PROPÓSITO PARTICULAR Y NO INFRACCIÓN. EN NINGÚN CASO SERÁ
 *  ** █ LOS AUTORES O TITULARES DE LOS DERECHOS DE AUTOR SERÁN RESPONSABLES DE CUALQUIER
 *  ** █ RECLAMO, DAÑOS U OTROS RESPONSABILIDAD, YA SEA EN UNA ACCIÓN DE CONTRATO,
 *  ** █ AGRAVIO O DE OTRO MODO, QUE SURJA DESDE, FUERA O EN RELACIÓN CON EL SOFTWARE
 *  ** █ O EL USO U OTROS NEGOCIACIONES EN EL SOFTWARE.
 *  ** █ ---------------------------------------------------------------------------------------------------------------------
 *  ** █ @Author Jose Alexis Correa Valencia <jalexiscv@gmail.com>
 *  ** █ @link https://www.codehiggs.com
 *  ** █ @Version 1.5.0 @since PHP 7, PHP 8
 *  ** █ ---------------------------------------------------------------------------------------------------------------------
 *  ** █ Datos recibidos desde el controlador - @ModuleController
 *  ** █ ---------------------------------------------------------------------------------------------------------------------
 *  ** █ @authentication, @request, @dates, @parent, @component, @view, @oid, @views, @prefix
 *  ** █ ---------------------------------------------------------------------------------------------------------------------
 *  **
 */

.cm-s-rubyblue.CodeMirror {
    background: #112435;
    color: white;
}

.cm-s-rubyblue div.CodeMirror-selected {
    background: #38566F;
}

.cm-s-rubyblue .CodeMirror-line::selection, .cm-s-rubyblue .CodeMirror-line > span::selection, .cm-s-rubyblue .CodeMirror-line > span > span::selection {
    background: rgba(56, 86, 111, 0.99);
}

.cm-s-rubyblue .CodeMirror-line::-moz-selection, .cm-s-rubyblue .CodeMirror-line > span::-moz-selection, .cm-s-rubyblue .CodeMirror-line > span > span::-moz-selection {
    background: rgba(56, 86, 111, 0.99);
}

.cm-s-rubyblue .CodeMirror-gutters {
    background: #1F4661;
    border-right: 7px solid #3E7087;
}

.cm-s-rubyblue .CodeMirror-guttermarker {
    color: white;
}

.cm-s-rubyblue .CodeMirror-guttermarker-subtle {
    color: #3E7087;
}

.cm-s-rubyblue .CodeMirror-linenumber {
    color: white;
}

.cm-s-rubyblue .CodeMirror-cursor {
    border-left: 1px solid white;
}

.cm-s-rubyblue span.cm-comment {
    color: #999;
    font-style: italic;
    line-height: 1em;
}

.cm-s-rubyblue span.cm-atom {
    color: #F4C20B;
}

.cm-s-rubyblue span.cm-number, .cm-s-rubyblue span.cm-attribute {
    color: #82C6E0;
}

.cm-s-rubyblue span.cm-keyword {
    color: #F0F;
}

.cm-s-rubyblue span.cm-string {
    color: #F08047;
}

.cm-s-rubyblue span.cm-meta {
    color: #F0F;
}

.cm-s-rubyblue span.cm-variable-2, .cm-s-rubyblue span.cm-tag {
    color: #7BD827;
}

.cm-s-rubyblue span.cm-variable-3, .cm-s-rubyblue span.cm-def {
    color: white;
}

.cm-s-rubyblue span.cm-bracket {
    color: #F0F;
}

.cm-s-rubyblue span.cm-link {
    color: #F4C20B;
}

.cm-s-rubyblue span.CodeMirror-matchingbracket {
    color: #F0F !important;
}

.cm-s-rubyblue span.cm-builtin, .cm-s-rubyblue span.cm-special {
    color: #FF9D00;
}

.cm-s-rubyblue span.cm-error {
    color: #AF2018;
}

.cm-s-rubyblue .CodeMirror-activeline-background {
    background: #173047;
}
