/*
 * **
 *  ** █ ---------------------------------------------------------------------------------------------------------------------
 *  ** █ ░FRAMEWORK                                  2023-12-01 23:19:27
 *  ** █ ░█▀▀█ █▀▀█ █▀▀▄ █▀▀ ░█─░█ ─▀─ █▀▀▀ █▀▀▀ █▀▀ [App\Modules\Account\Views\Processes\Creator\deny.php]
 *  ** █ ░█─── █──█ █──█ █▀▀ ░█▀▀█ ▀█▀ █─▀█ █─▀█ ▀▀█ Copyright 2023 - CloudEngine S.A.S., Inc. <admin@cgine.com>
 *  ** █ ░█▄▄█ ▀▀▀▀ ▀▀▀─ ▀▀▀ ░█─░█ ▀▀▀ ▀▀▀▀ ▀▀▀▀ ▀▀▀ Para obtener información completa sobre derechos de autor y licencia,
 *  ** █                                             consulte la LICENCIA archivo que se distribuyó con este código fuente.
 *  ** █ ---------------------------------------------------------------------------------------------------------------------
 *  ** █ EL SOFTWARE SE PROPORCIONA -TAL CUAL-, SIN GARANTÍA DE NINGÚN TIPO, EXPRESA O
 *  ** █ IMPLÍCITA, INCLUYENDO PERO NO LIMITADO A LAS GARANTÍAS DE COMERCIABILIDAD,
 *  ** █ APTITUD PARA UN PROPÓSITO PARTICULAR Y NO INFRACCIÓN. EN NINGÚN CASO SERÁ
 *  ** █ LOS AUTORES O TITULARES DE LOS DERECHOS DE AUTOR SERÁN RESPONSABLES DE CUALQUIER
 *  ** █ RECLAMO, DAÑOS U OTROS RESPONSABILIDAD, YA SEA EN UNA ACCIÓN DE CONTRATO,
 *  ** █ AGRAVIO O DE OTRO MODO, QUE SURJA DESDE, FUERA O EN RELACIÓN CON EL SOFTWARE
 *  ** █ O EL USO U OTROS NEGOCIACIONES EN EL SOFTWARE.
 *  ** █ ---------------------------------------------------------------------------------------------------------------------
 *  ** █ @Author Jose Alexis Correa Valencia <jalexiscv@gmail.com>
 *  ** █ @link https://www.codehiggs.com
 *  ** █ @Version 1.5.0 @since PHP 7, PHP 8
 *  ** █ ---------------------------------------------------------------------------------------------------------------------
 *  ** █ Datos recibidos desde el controlador - @ModuleController
 *  ** █ ---------------------------------------------------------------------------------------------------------------------
 *  ** █ @authentication, @request, @dates, @parent, @component, @view, @oid, @views, @prefix
 *  ** █ ---------------------------------------------------------------------------------------------------------------------
 *  **
 */

/*

    Name:       seti
    Author:     Michael Kaminsky (http://github.com/mkaminsky11)

    Original seti color scheme by Jesse Weed (https://github.com/jesseweed/seti-syntax)

*/


.cm-s-seti.CodeMirror {
    background-color: #151718 !important;
    color: #CFD2D1 !important;
    border: none;
}

.cm-s-seti .CodeMirror-gutters {
    color: #404b53;
    background-color: #0E1112;
    border: none;
}

.cm-s-seti .CodeMirror-cursor {
    border-left: solid thin #f8f8f0;
}

.cm-s-seti .CodeMirror-linenumber {
    color: #6D8A88;
}

.cm-s-seti.CodeMirror-focused div.CodeMirror-selected {
    background: rgba(255, 255, 255, 0.10);
}

.cm-s-seti .CodeMirror-line::selection, .cm-s-seti .CodeMirror-line > span::selection, .cm-s-seti .CodeMirror-line > span > span::selection {
    background: rgba(255, 255, 255, 0.10);
}

.cm-s-seti .CodeMirror-line::-moz-selection, .cm-s-seti .CodeMirror-line > span::-moz-selection, .cm-s-seti .CodeMirror-line > span > span::-moz-selection {
    background: rgba(255, 255, 255, 0.10);
}

.cm-s-seti span.cm-comment {
    color: #41535b;
}

.cm-s-seti span.cm-string, .cm-s-seti span.cm-string-2 {
    color: #55b5db;
}

.cm-s-seti span.cm-number {
    color: #cd3f45;
}

.cm-s-seti span.cm-variable {
    color: #55b5db;
}

.cm-s-seti span.cm-variable-2 {
    color: #a074c4;
}

.cm-s-seti span.cm-def {
    color: #55b5db;
}

.cm-s-seti span.cm-keyword {
    color: #ff79c6;
}

.cm-s-seti span.cm-operator {
    color: #9fca56;
}

.cm-s-seti span.cm-keyword {
    color: #e6cd69;
}

.cm-s-seti span.cm-atom {
    color: #cd3f45;
}

.cm-s-seti span.cm-meta {
    color: #55b5db;
}

.cm-s-seti span.cm-tag {
    color: #55b5db;
}

.cm-s-seti span.cm-attribute {
    color: #9fca56;
}

.cm-s-seti span.cm-qualifier {
    color: #9fca56;
}

.cm-s-seti span.cm-property {
    color: #a074c4;
}

.cm-s-seti span.cm-variable-3 {
    color: #9fca56;
}

.cm-s-seti span.cm-builtin {
    color: #9fca56;
}

.cm-s-seti .CodeMirror-activeline-background {
    background: #101213;
}

.cm-s-seti .CodeMirror-matchingbracket {
    text-decoration: underline;
    color: white !important;
}
