/*
 * **
 *  ** █ ---------------------------------------------------------------------------------------------------------------------
 *  ** █ ░FRAMEWORK                                  2023-12-01 23:19:27
 *  ** █ ░█▀▀█ █▀▀█ █▀▀▄ █▀▀ ░█─░█ ─▀─ █▀▀▀ █▀▀▀ █▀▀ [App\Modules\Account\Views\Processes\Creator\deny.php]
 *  ** █ ░█─── █──█ █──█ █▀▀ ░█▀▀█ ▀█▀ █─▀█ █─▀█ ▀▀█ Copyright 2023 - CloudEngine S.A.S., Inc. <admin@cgine.com>
 *  ** █ ░█▄▄█ ▀▀▀▀ ▀▀▀─ ▀▀▀ ░█─░█ ▀▀▀ ▀▀▀▀ ▀▀▀▀ ▀▀▀ Para obtener información completa sobre derechos de autor y licencia,
 *  ** █                                             consulte la LICENCIA archivo que se distribuyó con este código fuente.
 *  ** █ ---------------------------------------------------------------------------------------------------------------------
 *  ** █ EL SOFTWARE SE PROPORCIONA -TAL CUAL-, SIN GARANTÍA DE NINGÚN TIPO, EXPRESA O
 *  ** █ IMPLÍCITA, INCLUYENDO PERO NO LIMITADO A LAS GARANTÍAS DE COMERCIABILIDAD,
 *  ** █ APTITUD PARA UN PROPÓSITO PARTICULAR Y NO INFRACCIÓN. EN NINGÚN CASO SERÁ
 *  ** █ LOS AUTORES O TITULARES DE LOS DERECHOS DE AUTOR SERÁN RESPONSABLES DE CUALQUIER
 *  ** █ RECLAMO, DAÑOS U OTROS RESPONSABILIDAD, YA SEA EN UNA ACCIÓN DE CONTRATO,
 *  ** █ AGRAVIO O DE OTRO MODO, QUE SURJA DESDE, FUERA O EN RELACIÓN CON EL SOFTWARE
 *  ** █ O EL USO U OTROS NEGOCIACIONES EN EL SOFTWARE.
 *  ** █ ---------------------------------------------------------------------------------------------------------------------
 *  ** █ @Author Jose Alexis Correa Valencia <jalexiscv@gmail.com>
 *  ** █ @link https://www.codehiggs.com
 *  ** █ @Version 1.5.0 @since PHP 7, PHP 8
 *  ** █ ---------------------------------------------------------------------------------------------------------------------
 *  ** █ Datos recibidos desde el controlador - @ModuleController
 *  ** █ ---------------------------------------------------------------------------------------------------------------------
 *  ** █ @authentication, @request, @dates, @parent, @component, @view, @oid, @views, @prefix
 *  ** █ ---------------------------------------------------------------------------------------------------------------------
 *  **
 */

.cm-s-the-matrix.CodeMirror {
    background: #000000;
    color: #00FF00;
}

.cm-s-the-matrix div.CodeMirror-selected {
    background: #2D2D2D;
}

.cm-s-the-matrix .CodeMirror-line::selection, .cm-s-the-matrix .CodeMirror-line > span::selection, .cm-s-the-matrix .CodeMirror-line > span > span::selection {
    background: rgba(45, 45, 45, 0.99);
}

.cm-s-the-matrix .CodeMirror-line::-moz-selection, .cm-s-the-matrix .CodeMirror-line > span::-moz-selection, .cm-s-the-matrix .CodeMirror-line > span > span::-moz-selection {
    background: rgba(45, 45, 45, 0.99);
}

.cm-s-the-matrix .CodeMirror-gutters {
    background: #060;
    border-right: 2px solid #00FF00;
}

.cm-s-the-matrix .CodeMirror-guttermarker {
    color: #0f0;
}

.cm-s-the-matrix .CodeMirror-guttermarker-subtle {
    color: white;
}

.cm-s-the-matrix .CodeMirror-linenumber {
    color: #FFFFFF;
}

.cm-s-the-matrix .CodeMirror-cursor {
    border-left: 1px solid #00FF00;
}

.cm-s-the-matrix span.cm-keyword {
    color: #008803;
    font-weight: bold;
}

.cm-s-the-matrix span.cm-atom {
    color: #3FF;
}

.cm-s-the-matrix span.cm-number {
    color: #FFB94F;
}

.cm-s-the-matrix span.cm-def {
    color: #99C;
}

.cm-s-the-matrix span.cm-variable {
    color: #F6C;
}

.cm-s-the-matrix span.cm-variable-2 {
    color: #C6F;
}

.cm-s-the-matrix span.cm-variable-3 {
    color: #96F;
}

.cm-s-the-matrix span.cm-property {
    color: #62FFA0;
}

.cm-s-the-matrix span.cm-operator {
    color: #999;
}

.cm-s-the-matrix span.cm-comment {
    color: #CCCCCC;
}

.cm-s-the-matrix span.cm-string {
    color: #39C;
}

.cm-s-the-matrix span.cm-meta {
    color: #C9F;
}

.cm-s-the-matrix span.cm-qualifier {
    color: #FFF700;
}

.cm-s-the-matrix span.cm-builtin {
    color: #30a;
}

.cm-s-the-matrix span.cm-bracket {
    color: #cc7;
}

.cm-s-the-matrix span.cm-tag {
    color: #FFBD40;
}

.cm-s-the-matrix span.cm-attribute {
    color: #FFF700;
}

.cm-s-the-matrix span.cm-error {
    color: #FF0000;
}

.cm-s-the-matrix .CodeMirror-activeline-background {
    background: #040;
}
