/*
 * **
 *  ** █ ---------------------------------------------------------------------------------------------------------------------
 *  ** █ ░FRAMEWORK                                  2023-12-01 23:19:27
 *  ** █ ░█▀▀█ █▀▀█ █▀▀▄ █▀▀ ░█─░█ ─▀─ █▀▀▀ █▀▀▀ █▀▀ [App\Modules\Account\Views\Processes\Creator\deny.php]
 *  ** █ ░█─── █──█ █──█ █▀▀ ░█▀▀█ ▀█▀ █─▀█ █─▀█ ▀▀█ Copyright 2023 - CloudEngine S.A.S., Inc. <admin@cgine.com>
 *  ** █ ░█▄▄█ ▀▀▀▀ ▀▀▀─ ▀▀▀ ░█─░█ ▀▀▀ ▀▀▀▀ ▀▀▀▀ ▀▀▀ Para obtener información completa sobre derechos de autor y licencia,
 *  ** █                                             consulte la LICENCIA archivo que se distribuyó con este código fuente.
 *  ** █ ---------------------------------------------------------------------------------------------------------------------
 *  ** █ EL SOFTWARE SE PROPORCIONA -TAL CUAL-, SIN GARANTÍA DE NINGÚN TIPO, EXPRESA O
 *  ** █ IMPLÍCITA, INCLUYENDO PERO NO LIMITADO A LAS GARANTÍAS DE COMERCIABILIDAD,
 *  ** █ APTITUD PARA UN PROPÓSITO PARTICULAR Y NO INFRACCIÓN. EN NINGÚN CASO SERÁ
 *  ** █ LOS AUTORES O TITULARES DE LOS DERECHOS DE AUTOR SERÁN RESPONSABLES DE CUALQUIER
 *  ** █ RECLAMO, DAÑOS U OTROS RESPONSABILIDAD, YA SEA EN UNA ACCIÓN DE CONTRATO,
 *  ** █ AGRAVIO O DE OTRO MODO, QUE SURJA DESDE, FUERA O EN RELACIÓN CON EL SOFTWARE
 *  ** █ O EL USO U OTROS NEGOCIACIONES EN EL SOFTWARE.
 *  ** █ ---------------------------------------------------------------------------------------------------------------------
 *  ** █ @Author Jose Alexis Correa Valencia <jalexiscv@gmail.com>
 *  ** █ @link https://www.codehiggs.com
 *  ** █ @Version 1.5.0 @since PHP 7, PHP 8
 *  ** █ ---------------------------------------------------------------------------------------------------------------------
 *  ** █ Datos recibidos desde el controlador - @ModuleController
 *  ** █ ---------------------------------------------------------------------------------------------------------------------
 *  ** █ @authentication, @request, @dates, @parent, @component, @view, @oid, @views, @prefix
 *  ** █ ---------------------------------------------------------------------------------------------------------------------
 *  **
 */
.cm-s-xq-light span.cm-keyword {
    line-height: 1em;
    font-weight: bold;
    color: #5A5CAD;
}

.cm-s-xq-light span.cm-atom {
    color: #6C8CD5;
}

.cm-s-xq-light span.cm-number {
    color: #164;
}

.cm-s-xq-light span.cm-def {
    text-decoration: underline;
}

.cm-s-xq-light span.cm-variable {
    color: black;
}

.cm-s-xq-light span.cm-variable-2 {
    color: black;
}

.cm-s-xq-light span.cm-variable-3 {
    color: black;
}

.cm-s-xq-light span.cm-property {
}

.cm-s-xq-light span.cm-operator {
}

.cm-s-xq-light span.cm-comment {
    color: #0080FF;
    font-style: italic;
}

.cm-s-xq-light span.cm-string {
    color: red;
}

.cm-s-xq-light span.cm-meta {
    color: yellow;
}

.cm-s-xq-light span.cm-qualifier {
    color: grey;
}

.cm-s-xq-light span.cm-builtin {
    color: #7EA656;
}

.cm-s-xq-light span.cm-bracket {
    color: #cc7;
}

.cm-s-xq-light span.cm-tag {
    color: #3F7F7F;
}

.cm-s-xq-light span.cm-attribute {
    color: #7F007F;
}

.cm-s-xq-light span.cm-error {
    color: #f00;
}

.cm-s-xq-light .CodeMirror-activeline-background {
    background: #e8f2ff;
}

.cm-s-xq-light .CodeMirror-matchingbracket {
    outline: 1px solid grey;
    color: black !important;
    background: yellow;
}
