<div class="left-sidebar" id="leftSidebar">
    <div class="section-header">
        Navegación
    </div>
    
    <ul class="sidebar-menu">
        <li>
            <a href="index.html" class="active">
                <i class="fas fa-tachometer-alt"></i>
                <span>Dashboard</span>
            </a>
        </li>
        <li>
            <a href="cards.html">
                <i class="fas fa-th-large"></i>
                <span>Cards</span>
            </a>
        </li>
        <li>
            <a href="forms.html">
                <i class="fas fa-wpforms"></i>
                <span>Formularios</span>
            </a>
        </li>
        <li>
            <a href="tables.html">
                <i class="fas fa-table"></i>
                <span>Tablas</span>
            </a>
        </li>
        <li>
            <a href="buttons.html">
                <i class="fas fa-square"></i>
                <span>Botones</span>
            </a>
        </li>
        <li>
            <a href="alerts.html">
                <i class="fas fa-exclamation-triangle"></i>
                <span>Alertas</span>
            </a>
        </li>
        <li>
            <a href="modals.html">
                <i class="fas fa-window-maximize"></i>
                <span>Modales</span>
            </a>
        </li>
        <li>
            <a href="charts.html">
                <i class="fas fa-chart-bar"></i>
                <span>Gráficos</span>
            </a>
        </li>
        <li>
            <a href="profile.html">
                <i class="fas fa-user"></i>
                <span>Perfil</span>
            </a>
        </li>
        <li>
            <a href="#">
                <i class="fas fa-cog"></i>
                <span>Configuración</span>
            </a>
        </li>
    </ul>
</div>