<div class="col-12">
    <div class="row  row-cols-xxl-4 row-cols-xl-4 row-cols-lg-3 row-cols-md-2 row-cols-2  text-center shortcuts">
        <div class="col mb-1">
            <!--[shortcut]//--><a class="shortcut border w-100" href="#" target="_blank">
            <div class="container-icon "><i class="icon fa-light fa-cube"></i></div>
            <h5>Vertex</h5>
            <p>Claude</p></a></div>
        <div class="col mb-1">
            <!--[shortcut]//--><a class="shortcut border w-100" href="#" target="_blank">
            <div class="container-icon "><i class="icon fa-light fa-cube"></i></div>
            <h5>Plesk</h5>
            <p>Webs</p></a></div>
        <div class="col mb-1">
            <!--[shortcut]//--><a class="shortcut border w-100" href="#" target="_blank">
            <div class="container-icon "><i class="icon fa-light fa-cube"></i></div>
            <h5>Plesk</h5>
            <p>Aplicaciones</p></a></div>
        <div class="col mb-1">
            <!--[shortcut]//--><a class="shortcut border w-100" href="#" target="_self">
            <div class="container-icon "><i class="icon fa-light fa-cube"></i></div>
            <h5>HOST</h5>
            <p>VPS</p></a></div>
        <div class="col mb-1">
            <!--[shortcut]//--><a class="shortcut border w-100" href="#" target="_self">
            <div class="container-icon "><i class="icon fa-light fa-cube"></i></div>
            <h5>Internacionalizacion</h5>
            <p>Modulo Base</p></a></div>
        <div class="col mb-1">
            <!--[shortcut]//--><a class="shortcut border w-100" href="#" target="_self">
            <div class="container-icon "><i class="icon fa-light fa-cube"></i></div>
            <h5>HOME-AAPANEL</h5>
            <p>VMWARE-EXSI</p></a></div>
        <div class="col mb-1">
            <!--[shortcut]//--><a class="shortcut border w-100" href="#" target="_self">
            <div class="container-icon "><i class="icon icon fa-light fa-compass"></i></div>
            <h5>Consejo</h5>
            <p>Directivo</p></a></div>
        <div class="col mb-1">
            <!--[shortcut]//--><a class="shortcut border w-100" href="#" target="_self">
            <div class="container-icon "><i class="icon fa-light fa-cube"></i></div>
            <h5>WordPress</h5>
            <p>NGNIX</p></a></div>
        <div class="col mb-1">
            <!--[shortcut]//--><a class="shortcut border w-100" href="#" target="_blank">
            <div class="container-icon "><i class="icon fa-light fa-cube"></i></div>
            <h5>WAF</h5>
            <p>Fortiweb-Cloud</p></a></div>
        <div class="col mb-1">
            <!--[shortcut]//--><a class="shortcut border w-100" href="#" target="_blank">
            <div class="container-icon "><i class="icon fa-light fa-cube"></i></div>
            <h5>SafeLine</h5>
            <p>WAF</p></a></div>
        <div class="col mb-1">
            <!--[shortcut]//--><a class="shortcut border w-100" href="#" target="_blank">
            <div class="container-icon "><i class="icon fa-light fa-cube"></i></div>
            <h5>MOODLES</h5>
            <p>VM</p></a></div>
        <div class="col mb-1">
            <!--[shortcut]//--><a class="shortcut border w-100" href="#" target="_blank">
            <div class="container-icon "><i class="icon fa-light fa-cube"></i></div>
            <h5>MySQL DB</h5>
            <p>VPN</p></a></div>
        <div class="col mb-1">
            <!--[shortcut]//--><a class="shortcut border w-100" href="#" target="_blank">
            <div class="container-icon "><i class="icon fa-light fa-cube"></i></div>
            <h5>MongoDB</h5>
            <p>VPN</p></a></div>
        <div class="col mb-1">
            <!--[shortcut]//--><a class="shortcut border w-100" href="#" target="_blank">
            <div class="container-icon "><i class="icon fa-light fa-cube"></i></div>
            <h5>Memcached</h5>
            <p>Netwok</p></a></div>
        <div class="col mb-1">
            <!--[shortcut]//--><a class="shortcut border w-100" href="#" target="_blank">
            <div class="container-icon "><i class="icon fa-light fa-cube"></i></div>
            <h5>Vanguard</h5>
            <p>e2-custom</p></a></div>
        <div class="col mb-1">
            <!--[shortcut]//--><a class="shortcut border w-100" href="#" target="_blank">
            <div class="container-icon "><i class="icon fa-light fa-cube"></i></div>
            <h5>Sn Engine</h5>
            <p>e2-medium</p></a></div>
        <div class="col mb-1">
            <!--[shortcut]//--><a class="shortcut border w-100" href="#" target="_blank">
            <div class="container-icon "><i class="icon fa-light fa-user-tie"></i></div>
            <h5>Manager</h5>
            <p>Utilidad</p></a></div>
        <div class="col mb-1">
            <!--[shortcut]//--><a class="shortcut border w-100" href="#" target="_blank">
            <div class="container-icon "><i class="icon fa-brands fa-google"></i></div>
            <h5>GCP</h5>
            <p>Google</p></a></div>
        <div class="col mb-1">
            <!--[shortcut]//--><a class="shortcut border w-100" href="#" target="_blank">
            <div class="container-icon "><i class="icon fa-light fa-cube"></i></div>
            <h5>WordPress</h5>
            <p>VPN</p></a></div>
        <div class="col mb-1">
            <!--[shortcut]//--><a class="shortcut border w-100" href="#" target="_self">
            <div class="container-icon "><i class="icon fa-light fa-network-wired"></i></div>
            <h5>Nexo</h5>
            <p>Módulo Base</p></a></div>
        <div class="col mb-1">
            <!--[shortcut]//--><a class="shortcut border w-100" href="#" target="_blank">
            <div class="container-icon "><i class="icon fa-light fa-shield-virus"></i></div>
            <h5>Seguridad</h5>
            <p>Módulo Base</p></a></div>
        <div class="col mb-1">
            <!--[shortcut]//--><a class="shortcut border w-100" href="#" target="_blank">
            <div class="container-icon "><i class="icon fa-light fa-star-of-life"></i></div>
            <h5>IA</h5>
            <p>Herramienta</p></a></div>
    </div>
</div>